df-d365-byod/linkedTemplates/ArmTemplate_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-d365-byod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Xml1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobstoragescm",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "owssvr (2).xml",
						"container": "sanctielijsten"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Zendesk')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ZendeskDownload",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ACC&PRD"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "DWHZendeskExport.zip"
					},
					"columnDelimiter": ",",
					"compressionCodec": "ZipDeflate",
					"compressionLevel": "Fastest",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sanctielijst_EU_FSD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobstoragescm",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "sanctielijsten"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "FULL-1_0.csv",
						"container": "sanctielijsten"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date_file",
						"type": "String"
					},
					{
						"name": "Entity_logical_id1",
						"type": "String"
					},
					{
						"name": "Subject_type",
						"type": "String"
					},
					{
						"name": "Leba_numtitle",
						"type": "String"
					},
					{
						"name": "Leba_publication_date",
						"type": "String"
					},
					{
						"name": "Leba_url",
						"type": "String"
					},
					{
						"name": "Programme",
						"type": "String"
					},
					{
						"name": "Entity_remark",
						"type": "String"
					},
					{
						"name": "Naal_logical_id",
						"type": "String"
					},
					{
						"name": "Entity_logical_id9",
						"type": "String"
					},
					{
						"name": "Naal_leba_numtitle",
						"type": "String"
					},
					{
						"name": "Naal_leba_publication_date",
						"type": "String"
					},
					{
						"name": "Naal_leba_url",
						"type": "String"
					},
					{
						"name": "Naal_programme",
						"type": "String"
					},
					{
						"name": "Naal_lastname",
						"type": "String"
					},
					{
						"name": "Naal_firstname",
						"type": "String"
					},
					{
						"name": "Naal_middlename",
						"type": "String"
					},
					{
						"name": "Naal_wholename",
						"type": "String"
					},
					{
						"name": "Naal_gender",
						"type": "String"
					},
					{
						"name": "Naal_title",
						"type": "String"
					},
					{
						"name": "Naal_function",
						"type": "String"
					},
					{
						"name": "Naal_language",
						"type": "String"
					},
					{
						"name": "Addr_logical_id",
						"type": "String"
					},
					{
						"name": "Entity_logical_id23",
						"type": "String"
					},
					{
						"name": "Addr_leba_numtitle",
						"type": "String"
					},
					{
						"name": "Addr_leba_publication_date",
						"type": "String"
					},
					{
						"name": "Addr_leba_url",
						"type": "String"
					},
					{
						"name": "Addr_programme",
						"type": "String"
					},
					{
						"name": "Addr_number",
						"type": "String"
					},
					{
						"name": "Addr_street",
						"type": "String"
					},
					{
						"name": "Addr_zipcode",
						"type": "String"
					},
					{
						"name": "Addr_city",
						"type": "String"
					},
					{
						"name": "Addr_country",
						"type": "String"
					},
					{
						"name": "Addr_other",
						"type": "String"
					},
					{
						"name": "Birt_logical_id",
						"type": "String"
					},
					{
						"name": "Entity_logical_id35",
						"type": "String"
					},
					{
						"name": "Birt_leba_numtitle",
						"type": "String"
					},
					{
						"name": "Birt_leba_publication_date",
						"type": "String"
					},
					{
						"name": "Birt_leba_url",
						"type": "String"
					},
					{
						"name": "Birt_programme",
						"type": "String"
					},
					{
						"name": "Birt_date",
						"type": "String"
					},
					{
						"name": "Birt_place",
						"type": "String"
					},
					{
						"name": "Birt_country",
						"type": "String"
					},
					{
						"name": "Iden_logical_id",
						"type": "String"
					},
					{
						"name": "Entity_logical_id44",
						"type": "String"
					},
					{
						"name": "Iden_leba_numtitle",
						"type": "String"
					},
					{
						"name": "Iden_leba_publication_date",
						"type": "String"
					},
					{
						"name": "Iden_leba_url",
						"type": "String"
					},
					{
						"name": "Iden_programme",
						"type": "String"
					},
					{
						"name": "Iden_number",
						"type": "String"
					},
					{
						"name": "Iden_country",
						"type": "String"
					},
					{
						"name": "Citi_logical_id",
						"type": "String"
					},
					{
						"name": "Entity_logical_id52",
						"type": "String"
					},
					{
						"name": "Citi_leba_numtitle",
						"type": "String"
					},
					{
						"name": "Citi_leba_publication_date",
						"type": "String"
					},
					{
						"name": "Citi_leba_url",
						"type": "String"
					},
					{
						"name": "Citi_programme",
						"type": "String"
					},
					{
						"name": "Citi_country",
						"type": "String"
					},
					{
						"name": "EU_ref_num",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sanctielijst_UK_list')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobstoragescm",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "sanctielijsten"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "UK_Sanctions_List.csv",
						"container": "sanctielijsten"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date_file",
						"type": "String"
					},
					{
						"name": "Entity_logical_id1",
						"type": "String"
					},
					{
						"name": "Subject_type",
						"type": "String"
					},
					{
						"name": "Leba_numtitle",
						"type": "String"
					},
					{
						"name": "Leba_publication_date",
						"type": "String"
					},
					{
						"name": "Leba_url",
						"type": "String"
					},
					{
						"name": "Programme",
						"type": "String"
					},
					{
						"name": "Entity_remark",
						"type": "String"
					},
					{
						"name": "Naal_logical_id",
						"type": "String"
					},
					{
						"name": "Entity_logical_id9",
						"type": "String"
					},
					{
						"name": "Naal_leba_numtitle",
						"type": "String"
					},
					{
						"name": "Naal_leba_publication_date",
						"type": "String"
					},
					{
						"name": "Naal_leba_url",
						"type": "String"
					},
					{
						"name": "Naal_programme",
						"type": "String"
					},
					{
						"name": "Naal_lastname",
						"type": "String"
					},
					{
						"name": "Naal_firstname",
						"type": "String"
					},
					{
						"name": "Naal_middlename",
						"type": "String"
					},
					{
						"name": "Naal_wholename",
						"type": "String"
					},
					{
						"name": "Naal_gender",
						"type": "String"
					},
					{
						"name": "Naal_title",
						"type": "String"
					},
					{
						"name": "Naal_function",
						"type": "String"
					},
					{
						"name": "Naal_language",
						"type": "String"
					},
					{
						"name": "Addr_logical_id",
						"type": "String"
					},
					{
						"name": "Entity_logical_id23",
						"type": "String"
					},
					{
						"name": "Addr_leba_numtitle",
						"type": "String"
					},
					{
						"name": "Addr_leba_publication_date",
						"type": "String"
					},
					{
						"name": "Addr_leba_url",
						"type": "String"
					},
					{
						"name": "Addr_programme",
						"type": "String"
					},
					{
						"name": "Addr_number",
						"type": "String"
					},
					{
						"name": "Addr_street",
						"type": "String"
					},
					{
						"name": "Addr_zipcode",
						"type": "String"
					},
					{
						"name": "Addr_city",
						"type": "String"
					},
					{
						"name": "Addr_country",
						"type": "String"
					},
					{
						"name": "Addr_other",
						"type": "String"
					},
					{
						"name": "Birt_logical_id",
						"type": "String"
					},
					{
						"name": "Entity_logical_id35",
						"type": "String"
					},
					{
						"name": "Birt_leba_numtitle",
						"type": "String"
					},
					{
						"name": "Birt_leba_publication_date",
						"type": "String"
					},
					{
						"name": "Birt_leba_url",
						"type": "String"
					},
					{
						"name": "Birt_programme",
						"type": "String"
					},
					{
						"name": "Birt_date",
						"type": "String"
					},
					{
						"name": "Birt_place",
						"type": "String"
					},
					{
						"name": "Birt_country",
						"type": "String"
					},
					{
						"name": "Iden_logical_id",
						"type": "String"
					},
					{
						"name": "Entity_logical_id44",
						"type": "String"
					},
					{
						"name": "Iden_leba_numtitle",
						"type": "String"
					},
					{
						"name": "Iden_leba_publication_date",
						"type": "String"
					},
					{
						"name": "Iden_leba_url",
						"type": "String"
					},
					{
						"name": "Iden_programme",
						"type": "String"
					},
					{
						"name": "Iden_number",
						"type": "String"
					},
					{
						"name": "Iden_country",
						"type": "String"
					},
					{
						"name": "Citi_logical_id",
						"type": "String"
					},
					{
						"name": "Entity_logical_id52",
						"type": "String"
					},
					{
						"name": "Citi_leba_numtitle",
						"type": "String"
					},
					{
						"name": "Citi_leba_publication_date",
						"type": "String"
					},
					{
						"name": "Citi_leba_url",
						"type": "String"
					},
					{
						"name": "Citi_programme",
						"type": "String"
					},
					{
						"name": "Citi_country",
						"type": "String"
					},
					{
						"name": "EU_ref_num",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sanctielijst_USconsolidated')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobstoragescm",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "sanctielijsten"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "consolidated.csv",
						"container": "sanctielijsten"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "_id",
						"type": "String"
					},
					{
						"name": "source",
						"type": "String"
					},
					{
						"name": "entity_number",
						"type": "String"
					},
					{
						"name": "type",
						"type": "String"
					},
					{
						"name": "programs",
						"type": "String"
					},
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "addresses",
						"type": "String"
					},
					{
						"name": "federal_register_notice",
						"type": "String"
					},
					{
						"name": "start_date",
						"type": "String"
					},
					{
						"name": "end_date",
						"type": "String"
					},
					{
						"name": "standard_order",
						"type": "String"
					},
					{
						"name": "license_requirement",
						"type": "String"
					},
					{
						"name": "license_policy",
						"type": "String"
					},
					{
						"name": "call_sign",
						"type": "String"
					},
					{
						"name": "vessel_type",
						"type": "String"
					},
					{
						"name": "gross_tonnage",
						"type": "String"
					},
					{
						"name": "gross_registered_tonnage",
						"type": "String"
					},
					{
						"name": "vessel_flag",
						"type": "String"
					},
					{
						"name": "vessel_owner",
						"type": "String"
					},
					{
						"name": "remarks",
						"type": "String"
					},
					{
						"name": "source_list_url",
						"type": "String"
					},
					{
						"name": "alt_names",
						"type": "String"
					},
					{
						"name": "citizenships",
						"type": "String"
					},
					{
						"name": "dates_of_birth",
						"type": "String"
					},
					{
						"name": "nationalities",
						"type": "String"
					},
					{
						"name": "places_of_birth",
						"type": "String"
					},
					{
						"name": "source_information_url",
						"type": "String"
					},
					{
						"name": "ids",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/testUpload')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ZendeskDownload",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ACC&PRD"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "dbo.View_Test.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tevervroegenACC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ToJPN",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "ACCtevervroegens.csv",
						"folderPath": "jpnvrd/PoLines"
					},
					"columnDelimiter": ";",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tevervroegenPRD')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ToJPN",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": "PRDtevervroegens.csv",
						"folderPath": "jpnvrd/PoLines"
					},
					"columnDelimiter": ";",
					"escapeChar": "",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_BudgetDirectSales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BudgetDirectSalesFiles",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.Excelfile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_BudgetDirectSales",
								"type": "DatasetReference",
								"parameters": {
									"WorkSheet": "@{pipeline().parameters.Worksheet}",
									"Excelfile": "@{pipeline().parameters.Excelfile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Worksheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_BudgetInDirectSales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BudgetInDirectSalesFiles",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.Excelfile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_BudgetInDirectSales",
								"type": "DatasetReference",
								"parameters": {
									"WorkSheet": "@{pipeline().parameters.Worksheet}",
									"Excelfile": "@{pipeline().parameters.Excelfile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Worksheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_DistributionList')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DistributeurLijsten",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.Excelfile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_Distributeur",
								"type": "DatasetReference",
								"parameters": {
									"WorkSheet": "@{pipeline().parameters.Worksheet}",
									"Excelfile": "@{pipeline().parameters.Excelfile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Worksheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_FillMetadata_DWH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy DWH view metadata",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT c.TABLE_CATALOG AS TableCatalog, \nc.TABLE_SCHEMA AS TableSchema, \nc.TABLE_NAME AS TableName, \nc.COLUMN_NAME AS ColumnName,\nCASE WHEN x.TABLE_NAME IS NULL THEN 0 WHEN x.TABLE_NAME IS NOT NULL THEN 1 END AS PrimaryKey,\nc.ORDINAL_POSITION AS OrdinalPosition, \nCASE\n\t\t\t\tWHEN c.DATA_TYPE IN ('real','money','decimal','numeric') THEN 'numeric(28,12)'\n\t\t\t\tWHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH < 1 THEN 'nvarchar(max)'\n\t\t\t\tWHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH > 1024 THEN 'nvarchar(max)'\n\t\t\t\tWHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH BETWEEN 1 AND 1024 THEN 'nvarchar(' + convert(varchar,CHARACTER_MAXIMUM_LENGTH) + ')'\n\t\t\t\t--WHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH BETWEEN 8 AND 32 THEN 'nvarchar(32)'\n\t\t\t\t--WHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH BETWEEN 32 AND 128 THEN 'nvarchar(128)'\n\t\t\t\t--WHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH BETWEEN 128 AND 1024 THEN 'nvarchar(1024)'\n\t\t\t\tELSE c.DATA_TYPE\n\t\t\t END as DataType \nFROM information_schema.columns c\nLEFT OUTER JOIN (SELECT TABLE_SCHEMA, TABLE_NAME, COLUMN_NAME \n\t\t         FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE\n                 WHERE OBJECTPROPERTY(OBJECT_ID(CONSTRAINT_SCHEMA + '.' + QUOTENAME(CONSTRAINT_NAME)), 'ISPRIMARYKEY') = 1\n                ) x ON x.TABLE_SCHEMA = c.TABLE_SCHEMA\n                   AND x.TABLE_NAME   = c.TABLE_NAME\n                   AND x.COLUMN_NAME  = c.COLUMN_NAME\nWHERE\t(c.TABLE_NAME LIKE '%fact%' OR c.TABLE_NAME LIKE '%dim%'  OR c.TABLE_NAME LIKE '%help%' OR c.TABLE_NAME LIKE '%tbl%') \nAND\t\t c.TABLE_NAME NOT IN ('DimensionAttributeStaging','DerivedDimensionAttributeStaging','DerivedDimensionAttributeValuesStaging','DimensionAttributeTranslationStaging')\nORDER BY c.TABLE_SCHEMA, c.TABLE_NAME, c.ORDINAL_POSITION",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "DELETE a\n\tFROM metadata.SourceInformationSchema a\nWHERE TableCatalog = 'd365-byod-dev'",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ACC_DWH_Dynamic_DataSet",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "dummy"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_DWH_Dynamic_DataSet",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "metadata.SourceInformationSchema"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ACC-MetaData"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_Customer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_Customer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.Excelfile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_IFS_Customer",
								"type": "DatasetReference",
								"parameters": {
									"WorkSheet": "@{pipeline().parameters.Worksheet}",
									"Excelfile": "@{pipeline().parameters.ExcelFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Worksheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_GLAccounts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_GLAccounts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.Excelfile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_IFS_GLAccounts",
								"type": "DatasetReference",
								"parameters": {
									"WorkSheet": "@{pipeline().parameters.Worksheet}",
									"Excelfile": "@{pipeline().parameters.ExcelFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Worksheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_GLTransActions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_GLTransActions",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.CSVFile}",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_IFS_GLTransActions",
								"type": "DatasetReference",
								"parameters": {
									"CSVFile": "@{pipeline().parameters.CSVFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_InventoryTransactions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_InventoryTransactions",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.CSVFile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_IFS_InventoryTransactions",
								"type": "DatasetReference",
								"parameters": {
									"CSVFile": "@{pipeline().parameters.CSVFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_Products')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_Products",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.Excelfile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_IFS_Products",
								"type": "DatasetReference",
								"parameters": {
									"WorkSheet": "@{pipeline().parameters.Worksheet}",
									"Excelfile": "@{pipeline().parameters.ExcelFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Worksheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_SalesInvoice')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_SalesInvoice",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.CSVFile}",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_IFS_SalesInvoices",
								"type": "DatasetReference",
								"parameters": {
									"CSVFile": "@{pipeline().parameters.CSVFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_Invoice_Corrections')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACC_Invoice_Corrections",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "HSO_DnA_InsertDateTime",
										"value": {
											"value": "@pipeline().parameters.StartDateTime",
											"type": "Expression"
										}
									},
									{
										"name": "HSO_DnA_SourceConnectionID",
										"value": {
											"value": "@pipeline().parameters.SourceConnectionID",
											"type": "Expression"
										}
									},
									{
										"name": "HSO_DnA_TargetMappingID",
										"value": {
											"value": "@pipeline().parameters.TargetMapping",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.CSVFile}",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_Invoice_Corrections",
								"type": "DatasetReference",
								"parameters": {
									"CSVFile": "@{pipeline().parameters.CSVFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": {
										"value": "@pipeline().parameters.TargetSchemaName",
										"type": "Expression"
									},
									"TableName": {
										"value": "@pipeline().parameters.TargetTableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					},
					"TargetMapping": {
						"type": "string"
					},
					"SourceConnectionID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T13:45:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_Materialize_Views')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Full_Views",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM Process.ProcessView WHERE SourceConnectionID = 1 AND LoadGroupID = @{pipeline().parameters.LoadGroupID} AND (TemplateName NOT IN ('INCR', 'DWHINCR', 'DWHPART') OR IncrementalLoad = 0) ORDER BY LoadPriority",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Full_View",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_Views",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_Views').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "Materialize_Full_Views",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{concat(item().SourceSchemaName, '.', item().SourceTableName)}"
										},
										{
											"name": "Destination",
											"value": "@{concat(item().TargetSchemaName, '.', item().TargetTableName)}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT @{item().SourceConnectionID} as HSO_DnA_SourceConnectionID, @{item().TargetMappingID} as HSO_DnA_TargetMappingID, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_InsertDateTime, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_UpdateDateTime, null as HSO_DnA_DeleteDateTime, @{item().FieldList} FROM @{item().SourceSchemaName}.@{item().SourceTableName}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 1000000,
											"preCopyScript": {
												"value": "TRUNCATE TABLE @{item().TargetSchemaName}.@{item().TargetTableName}",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().SourceSchemaName}",
												"TableName": "@{item().SourceTableName}"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().TargetSchemaName}",
												"TableName": "@{item().TargetTableName}"
											}
										}
									]
								},
								{
									"name": "Update_Target_Mapping",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Materialize_Full_Views",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[process].[UpdateTargetMapping]",
										"storedProcedureParameters": {
											"GetStartDate": {
												"value": {
													"value": "@pipeline().parameters.StartDateTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"TargetMappingID": {
												"value": {
													"value": "@{item().TargetMappingID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Azure_D365_DEV",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Incr_Views",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM Process.ProcessView WHERE SourceConnectionID = 1 AND LoadGroupID = @{pipeline().parameters.LoadGroupID} AND (TemplateName = 'INCR' OR TemplateName = 'DWHINCR') AND IncrementalLoad = 1 ORDER BY LoadPriority",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Incr_View",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Incr_Views",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Incr_Views').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "Materialize_Incr_Views",
									"description": "Copy data from the on-premises source database to the matching cloud sink database",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Destination",
											"value": "@{concat(item().TargetSchemaName, '_', item().TargetTableName)}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT  @{item().FieldList} FROM @{item().SourceSchemaName}.@{item().SourceTableName} \n WHERE ModifiedDateTime >= DATEADD(DAY, -5, GETDATE())",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 1000000,
											"sqlWriterStoredProcedureName": {
												"value": "@{item().TargetSchemaName}.@{item().StoredProcedureName} ",
												"type": "Expression"
											},
											"sqlWriterTableType": {
												"value": "@{item().TargetSchemaName}.@{item().TargetTableName}_TYPE ",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"GetStartDateTime": {
													"type": "datetime",
													"value": {
														"value": "@pipeline().parameters.StartDateTime",
														"type": "Expression"
													}
												}
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": {
													"value": "@{item().SourceSchemaName}",
													"type": "Expression"
												},
												"TableName": {
													"value": "@{item().SourceTableName}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().TargetSchemaName}",
												"TableName": "@{item().TargetTableName}"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup_FULLADD_Views",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM Process.ProcessView WHERE SourceConnectionID = 1 AND LoadGroupID = @{pipeline().parameters.LoadGroupID} AND (TemplateName = 'FULL_ADD') AND IncrementalLoad = 0 ORDER BY LoadPriority",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_FullAdd_View",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_FULLADD_Views",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_FULLADD_Views').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "Materialize_FullAdd_Views",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{concat(item().SourceSchemaName, '.', item().SourceTableName)}"
										},
										{
											"name": "Destination",
											"value": "@{concat(item().TargetSchemaName, '.', item().TargetTableName)}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT @{item().SourceConnectionID} as HSO_DnA_SourceConnectionID, @{item().TargetMappingID} as HSO_DnA_TargetMappingID, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_InsertDateTime, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_UpdateDateTime, null as HSO_DnA_DeleteDateTime, @{item().FieldList} FROM @{item().SourceSchemaName}.@{item().SourceTableName}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 1000000,
											"preCopyScript": {
												"value": "DELETE FROM @{item().TargetSchemaName}.@{item().TargetTableName}\nWHERE [DateExecutionBK] = (SELECT MAX(DateExecutionBK) FROM @{item().SourceSchemaName}.@{item().SourceTableName})",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().SourceSchemaName}",
												"TableName": "@{item().SourceTableName}"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().TargetSchemaName}",
												"TableName": "@{item().TargetTableName}"
											}
										}
									]
								},
								{
									"name": "Update_Target_Mapping_FullAdd",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Materialize_FullAdd_Views",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[process].[UpdateTargetMapping]",
										"storedProcedureParameters": {
											"GetStartDate": {
												"value": {
													"value": "@pipeline().parameters.StartDateTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"TargetMappingID": {
												"value": {
													"value": "@{item().TargetMappingID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Azure_D365_DEV",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Lookup_FULLADDCurrent-EndMonth_Views",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM Process.ProcessView WHERE SourceConnectionID = 1 AND LoadGroupID = @{pipeline().parameters.LoadGroupID} AND (TemplateName = 'FULL_ADD_EOMonth_Cur') AND IncrementalLoad = 0 ORDER BY LoadPriority",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_FULLADDCurrent-EndMonth_View",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_FULLADDCurrent-EndMonth_Views",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_FULLADDCurrent-EndMonth_Views').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "Materialize_FULLADDCurrent-EndMonth_Views",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{concat(item().SourceSchemaName, '.', item().SourceTableName)}"
										},
										{
											"name": "Destination",
											"value": "@{concat(item().TargetSchemaName, '.', item().TargetTableName)}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT @{item().SourceConnectionID} as HSO_DnA_SourceConnectionID, @{item().TargetMappingID} as HSO_DnA_TargetMappingID, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_InsertDateTime, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_UpdateDateTime, null as HSO_DnA_DeleteDateTime, @{item().FieldList} FROM @{item().SourceSchemaName}.@{item().SourceTableName}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 1000000,
											"preCopyScript": {
												"value": "DELETE FROM @{item().TargetSchemaName}.@{item().TargetTableName}\nWHERE CONVERT(INT,CONVERT(VARCHAR,[HSO_DnA_InsertDateTime],112)) = CONVERT(INT,CONVERT(VARCHAR,GETUTCDATE(),112)) \n  AND\tCONVERT(INT,CONVERT(VARCHAR,[HSO_DnA_InsertDateTime],112))   NOT IN (SELECT [DateBK] FROM [dwh].[DimDate] where [IsLastDayOfMonth]=1)",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().SourceSchemaName}",
												"TableName": "@{item().SourceTableName}"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().TargetSchemaName}",
												"TableName": "@{item().TargetTableName}"
											}
										}
									]
								},
								{
									"name": "Update_Target_Mapping_FULLADDCurrent-EndMonth",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Materialize_FULLADDCurrent-EndMonth_Views",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[process].[UpdateTargetMapping]",
										"storedProcedureParameters": {
											"GetStartDate": {
												"value": {
													"value": "@pipeline().parameters.StartDateTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"TargetMappingID": {
												"value": {
													"value": "@{item().TargetMappingID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Azure_D365_DEV",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"LoadGroupID": {
						"type": "int"
					},
					"StartDateTime": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-01T06:06:41Z"
			},
			"dependsOn": []
		}
	]
}