df-d365-byod/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-d365-byod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ACC_BudgetInDirectSales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BudgetInDirectSalesFiles",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.Excelfile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_BudgetInDirectSales",
								"type": "DatasetReference",
								"parameters": {
									"WorkSheet": "@{pipeline().parameters.Worksheet}",
									"Excelfile": "@{pipeline().parameters.Excelfile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Worksheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_DistributionList')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DistributeurLijsten",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.Excelfile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_Distributeur",
								"type": "DatasetReference",
								"parameters": {
									"WorkSheet": "@{pipeline().parameters.Worksheet}",
									"Excelfile": "@{pipeline().parameters.Excelfile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Worksheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_FillMetadata_DWH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy DWH view metadata",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT c.TABLE_CATALOG AS TableCatalog, \nc.TABLE_SCHEMA AS TableSchema, \nc.TABLE_NAME AS TableName, \nc.COLUMN_NAME AS ColumnName,\nCASE WHEN x.TABLE_NAME IS NULL THEN 0 WHEN x.TABLE_NAME IS NOT NULL THEN 1 END AS PrimaryKey,\nc.ORDINAL_POSITION AS OrdinalPosition, \nCASE\n\t\t\t\tWHEN c.DATA_TYPE IN ('real','money','decimal','numeric') THEN 'numeric(28,12)'\n\t\t\t\tWHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH < 1 THEN 'nvarchar(max)'\n\t\t\t\tWHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH > 1024 THEN 'nvarchar(max)'\n\t\t\t\tWHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH BETWEEN 1 AND 1024 THEN 'nvarchar(' + convert(varchar,CHARACTER_MAXIMUM_LENGTH) + ')'\n\t\t\t\t--WHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH BETWEEN 8 AND 32 THEN 'nvarchar(32)'\n\t\t\t\t--WHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH BETWEEN 32 AND 128 THEN 'nvarchar(128)'\n\t\t\t\t--WHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH BETWEEN 128 AND 1024 THEN 'nvarchar(1024)'\n\t\t\t\tELSE c.DATA_TYPE\n\t\t\t END as DataType \nFROM information_schema.columns c\nLEFT OUTER JOIN (SELECT TABLE_SCHEMA, TABLE_NAME, COLUMN_NAME \n\t\t         FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE\n                 WHERE OBJECTPROPERTY(OBJECT_ID(CONSTRAINT_SCHEMA + '.' + QUOTENAME(CONSTRAINT_NAME)), 'ISPRIMARYKEY') = 1\n                ) x ON x.TABLE_SCHEMA = c.TABLE_SCHEMA\n                   AND x.TABLE_NAME   = c.TABLE_NAME\n                   AND x.COLUMN_NAME  = c.COLUMN_NAME\nWHERE\t(c.TABLE_NAME LIKE '%fact%' OR c.TABLE_NAME LIKE '%dim%'  OR c.TABLE_NAME LIKE '%help%' OR c.TABLE_NAME LIKE '%tbl%') \nAND\t\t c.TABLE_NAME NOT IN ('DimensionAttributeStaging','DerivedDimensionAttributeStaging','DerivedDimensionAttributeValuesStaging','DimensionAttributeTranslationStaging')\nORDER BY c.TABLE_SCHEMA, c.TABLE_NAME, c.ORDINAL_POSITION",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "DELETE a\n\tFROM metadata.SourceInformationSchema a\nWHERE TableCatalog = 'd365-byod-dev'",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ACC_DWH_Dynamic_DataSet",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "dummy"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_DWH_Dynamic_DataSet",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "metadata.SourceInformationSchema"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ACC-MetaData"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_Customer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_Customer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.Excelfile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_IFS_Customer",
								"type": "DatasetReference",
								"parameters": {
									"WorkSheet": "@{pipeline().parameters.Worksheet}",
									"Excelfile": "@{pipeline().parameters.ExcelFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Worksheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_GLAccounts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_GLAccounts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.Excelfile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_IFS_GLAccounts",
								"type": "DatasetReference",
								"parameters": {
									"WorkSheet": "@{pipeline().parameters.Worksheet}",
									"Excelfile": "@{pipeline().parameters.ExcelFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Worksheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_GLTransActions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_GLTransActions",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.CSVFile}",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_IFS_GLTransActions",
								"type": "DatasetReference",
								"parameters": {
									"CSVFile": "@{pipeline().parameters.CSVFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_InventoryTransactions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_InventoryTransactions",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.CSVFile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_IFS_InventoryTransactions",
								"type": "DatasetReference",
								"parameters": {
									"CSVFile": "@{pipeline().parameters.CSVFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_Products')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_Products",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.Excelfile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_IFS_Products",
								"type": "DatasetReference",
								"parameters": {
									"WorkSheet": "@{pipeline().parameters.Worksheet}",
									"Excelfile": "@{pipeline().parameters.ExcelFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Worksheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_SalesInvoice')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_SalesInvoice",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.CSVFile}",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_IFS_SalesInvoices",
								"type": "DatasetReference",
								"parameters": {
									"CSVFile": "@{pipeline().parameters.CSVFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_Invoice_Corrections')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ACC_Invoice_Corrections",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "HSO_DnA_InsertDateTime",
										"value": {
											"value": "@pipeline().parameters.StartDateTime",
											"type": "Expression"
										}
									},
									{
										"name": "HSO_DnA_SourceConnectionID",
										"value": {
											"value": "@pipeline().parameters.SourceConnectionID",
											"type": "Expression"
										}
									},
									{
										"name": "HSO_DnA_TargetMappingID",
										"value": {
											"value": "@pipeline().parameters.TargetMapping",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.CSVFile}",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_Invoice_Corrections",
								"type": "DatasetReference",
								"parameters": {
									"CSVFile": "@{pipeline().parameters.CSVFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": {
										"value": "@pipeline().parameters.TargetSchemaName",
										"type": "Expression"
									},
									"TableName": {
										"value": "@pipeline().parameters.TargetTableName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					},
					"TargetMapping": {
						"type": "string"
					},
					"SourceConnectionID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T13:45:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_Materialize_Views')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Full_Views",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM Process.ProcessView WHERE SourceConnectionID = 1 AND LoadGroupID = @{pipeline().parameters.LoadGroupID} AND (TemplateName NOT IN ('INCR', 'DWHINCR', 'DWHPART') OR IncrementalLoad = 0) ORDER BY LoadPriority",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Full_View",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_Views",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_Views').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "Materialize_Full_Views",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{concat(item().SourceSchemaName, '.', item().SourceTableName)}"
										},
										{
											"name": "Destination",
											"value": "@{concat(item().TargetSchemaName, '.', item().TargetTableName)}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT @{item().SourceConnectionID} as HSO_DnA_SourceConnectionID, @{item().TargetMappingID} as HSO_DnA_TargetMappingID, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_InsertDateTime, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_UpdateDateTime, null as HSO_DnA_DeleteDateTime, @{item().FieldList} FROM @{item().SourceSchemaName}.@{item().SourceTableName}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 1000000,
											"preCopyScript": {
												"value": "TRUNCATE TABLE @{item().TargetSchemaName}.@{item().TargetTableName}",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().SourceSchemaName}",
												"TableName": "@{item().SourceTableName}"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().TargetSchemaName}",
												"TableName": "@{item().TargetTableName}"
											}
										}
									]
								},
								{
									"name": "Update_Target_Mapping",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Materialize_Full_Views",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[process].[UpdateTargetMapping]",
										"storedProcedureParameters": {
											"GetStartDate": {
												"value": {
													"value": "@pipeline().parameters.StartDateTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"TargetMappingID": {
												"value": {
													"value": "@{item().TargetMappingID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Azure_D365_DEV",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Incr_Views",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM Process.ProcessView WHERE SourceConnectionID = 1 AND LoadGroupID = @{pipeline().parameters.LoadGroupID} AND (TemplateName = 'INCR' OR TemplateName = 'DWHINCR') AND IncrementalLoad = 1 ORDER BY LoadPriority",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Incr_View",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Incr_Views",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Incr_Views').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "Materialize_Incr_Views",
									"description": "Copy data from the on-premises source database to the matching cloud sink database",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Destination",
											"value": "@{concat(item().TargetSchemaName, '_', item().TargetTableName)}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT  @{item().FieldList} FROM @{item().SourceSchemaName}.@{item().SourceTableName} \n WHERE ModifiedDateTime >= DATEADD(DAY, -5, GETDATE())",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 1000000,
											"sqlWriterStoredProcedureName": {
												"value": "@{item().TargetSchemaName}.@{item().StoredProcedureName} ",
												"type": "Expression"
											},
											"sqlWriterTableType": {
												"value": "@{item().TargetSchemaName}.@{item().TargetTableName}_TYPE ",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"GetStartDateTime": {
													"type": "datetime",
													"value": {
														"value": "@pipeline().parameters.StartDateTime",
														"type": "Expression"
													}
												}
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": {
													"value": "@{item().SourceSchemaName}",
													"type": "Expression"
												},
												"TableName": {
													"value": "@{item().SourceTableName}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().TargetSchemaName}",
												"TableName": "@{item().TargetTableName}"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup_FULLADD_Views",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM Process.ProcessView WHERE SourceConnectionID = 1 AND LoadGroupID = @{pipeline().parameters.LoadGroupID} AND (TemplateName = 'FULL_ADD') AND IncrementalLoad = 0 ORDER BY LoadPriority",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_FullAdd_View",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_FULLADD_Views",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_FULLADD_Views').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "Materialize_FullAdd_Views",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{concat(item().SourceSchemaName, '.', item().SourceTableName)}"
										},
										{
											"name": "Destination",
											"value": "@{concat(item().TargetSchemaName, '.', item().TargetTableName)}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT @{item().SourceConnectionID} as HSO_DnA_SourceConnectionID, @{item().TargetMappingID} as HSO_DnA_TargetMappingID, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_InsertDateTime, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_UpdateDateTime, null as HSO_DnA_DeleteDateTime, @{item().FieldList} FROM @{item().SourceSchemaName}.@{item().SourceTableName}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 1000000,
											"preCopyScript": {
												"value": "DELETE FROM @{item().TargetSchemaName}.@{item().TargetTableName}\nWHERE [DateExecutionBK] = (SELECT MAX(DateExecutionBK) FROM @{item().SourceSchemaName}.@{item().SourceTableName})",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().SourceSchemaName}",
												"TableName": "@{item().SourceTableName}"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().TargetSchemaName}",
												"TableName": "@{item().TargetTableName}"
											}
										}
									]
								},
								{
									"name": "Update_Target_Mapping_FullAdd",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Materialize_FullAdd_Views",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[process].[UpdateTargetMapping]",
										"storedProcedureParameters": {
											"GetStartDate": {
												"value": {
													"value": "@pipeline().parameters.StartDateTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"TargetMappingID": {
												"value": {
													"value": "@{item().TargetMappingID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Azure_D365_DEV",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Lookup_FULLADDCurrent-EndMonth_Views",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM Process.ProcessView WHERE SourceConnectionID = 1 AND LoadGroupID = @{pipeline().parameters.LoadGroupID} AND (TemplateName = 'FULL_ADD_EOMonth_Cur') AND IncrementalLoad = 0 ORDER BY LoadPriority",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_FULLADDCurrent-EndMonth_View",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_FULLADDCurrent-EndMonth_Views",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_FULLADDCurrent-EndMonth_Views').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "Materialize_FULLADDCurrent-EndMonth_Views",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{concat(item().SourceSchemaName, '.', item().SourceTableName)}"
										},
										{
											"name": "Destination",
											"value": "@{concat(item().TargetSchemaName, '.', item().TargetTableName)}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT @{item().SourceConnectionID} as HSO_DnA_SourceConnectionID, @{item().TargetMappingID} as HSO_DnA_TargetMappingID, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_InsertDateTime, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_UpdateDateTime, null as HSO_DnA_DeleteDateTime, @{item().FieldList} FROM @{item().SourceSchemaName}.@{item().SourceTableName}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 1000000,
											"preCopyScript": {
												"value": "DELETE FROM @{item().TargetSchemaName}.@{item().TargetTableName}\nWHERE CONVERT(INT,CONVERT(VARCHAR,[HSO_DnA_InsertDateTime],112)) = CONVERT(INT,CONVERT(VARCHAR,GETUTCDATE(),112)) \n  AND\tCONVERT(INT,CONVERT(VARCHAR,[HSO_DnA_InsertDateTime],112))   NOT IN (SELECT [DateBK] FROM [dwh].[DimDate] where [IsLastDayOfMonth]=1)",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().SourceSchemaName}",
												"TableName": "@{item().SourceTableName}"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().TargetSchemaName}",
												"TableName": "@{item().TargetTableName}"
											}
										}
									]
								},
								{
									"name": "Update_Target_Mapping_FULLADDCurrent-EndMonth",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Materialize_FULLADDCurrent-EndMonth_Views",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[process].[UpdateTargetMapping]",
										"storedProcedureParameters": {
											"GetStartDate": {
												"value": {
													"value": "@pipeline().parameters.StartDateTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"TargetMappingID": {
												"value": {
													"value": "@{item().TargetMappingID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Azure_D365_DEV",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"LoadGroupID": {
						"type": "int"
					},
					"StartDateTime": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-01T06:06:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_Materialize_Views_loadID7')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Full_Views",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM Process.ProcessView WHERE  SourceTableName='FactTransactions' ORDER BY LoadPriority",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Full_View",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_Views",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_Views').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "Stored procedure1",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[process].[FullLoadDWHTable]",
										"storedProcedureParameters": {
											"TableName": {
												"value": {
													"value": "@{item().SourceTableName}",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Azure_D365_DEV",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"StartDateTime": {
						"type": "string",
						"defaultValue": "08/02/2023"
					}
				},
				"folder": {
					"name": "ACC-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-01T06:06:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_Process_SugarCRM_DataBase')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_LoadGroup_SugarCRM",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT  * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 14 AND\n\t (TemplateName = 'INCR')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_LoadGroup_SugarCRM",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_LoadGroup_SugarCRM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_LoadGroup_SugarCRM').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Incr_Copy_SugarCRM",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "SELECT\t@{item().SourceConnectionID} as HSO_DnA_SourceConnectionID,\n\t\t@{item().FieldList}\nFROM \n\t\t@{item().SourceTableName}",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 1000000,
											"sqlWriterStoredProcedureName": {
												"value": "@{item().TargetSchemaName}.@{item().StoredProcedureName} ",
												"type": "Expression"
											},
											"sqlWriterTableType": {
												"value": "@{item().TargetSchemaName}.@{item().TargetTableName}_TYPE",
												"type": "Expression"
											},
											"storedProcedureTableTypeParameterName": {
												"value": "@{item().varType}",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"GetStartDateTime": {
													"type": "Datetime",
													"value": {
														"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
														"type": "Expression"
													}
												}
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ACCPRD_SugarCRM",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().TargetSchemaName}",
												"TableName": "@{item().TargetTableName}"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_LoadGroup_SugarCRM_FULL",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 14 AND\n\t (IncrementalLoad = 0  OR TemplateName = 'FULL')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_LoadGroup_SugarCRM_FULL",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_LoadGroup_SugarCRM_FULL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_LoadGroup_SugarCRM_FULL').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Full_Copy_SugarCRM_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "SELECT\t@{item().SourceConnectionID} as HSO_DnA_SourceConnectionID,\n\t\t@{item().TargetMappingID} as HSO_DnA_TargetMappingID, \n\t\tCURDATE() as HSO_DnA_InsertDateTime, \n\t\tCURDATE() as HSO_DnA_UpdateDateTime, \n\t\t@{item().FieldList}\nFROM \n\t\t@{item().SourceTableName}",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE @{item().TargetSchemaName}.@{item().TargetTableName}",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"parallelCopies": 1,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ACCPRD_SugarCRM",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "ACC_BYOD_DEV_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": {
													"value": "@{item().TargetSchemaName}",
													"type": "Expression"
												},
												"TableName": {
													"value": "@{item().TargetTableName}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ACC-SugarCRM"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_SharePoint_Lijsten')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetFeestdagen",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table sharepoint.FeestdagenNL",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SharePointLists_PowerBI",
								"type": "DatasetReference",
								"parameters": {
									"list": "FeestdagenNL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "sharepoint",
									"TableName": "FeestdagenNL"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ACC_SharePoint"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_SharepointLijsten')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetTrackinNumberList",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "--truncate table sharepoint.trackingnumber",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "InhoudstypeId",
											"type": "String"
										},
										"sink": {
											"name": "ContentTypeId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KlantId",
											"type": "Int32"
										},
										"sink": {
											"name": "KlantId",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "SerieId",
											"type": "Int32"
										},
										"sink": {
											"name": "SerieId",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "StrokeId",
											"type": "String"
										},
										"sink": {
											"name": "StrokeId",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "ProductcategorieId",
											"type": "Int32"
										},
										"sink": {
											"name": "ProductcategorieId",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "Artikelcode",
											"type": "String"
										},
										"sink": {
											"name": "Artikelcode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OmschrijvingENG",
											"type": "String"
										},
										"sink": {
											"name": "Omschrijving",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StatusValue",
											"type": "String"
										},
										"sink": {
											"name": "GtnStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StatusOpmerking",
											"type": "String"
										},
										"sink": {
											"name": "Status_Opmerking",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CZ",
											"type": "Boolean"
										},
										"sink": {
											"name": "CZ",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Approved",
											"type": "Boolean"
										},
										"sink": {
											"name": "Approved",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "StatusD365Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Status_D365Id",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "MeldingD365",
											"type": "String"
										},
										"sink": {
											"name": "MeldingD365",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CustomerPartNr",
											"type": "String"
										},
										"sink": {
											"name": "CustomerPartNr",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "OmschrijvingFR",
											"type": "String"
										},
										"sink": {
											"name": "OmschrijvingFR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OmschrijvingDE",
											"type": "String"
										},
										"sink": {
											"name": "OmschrijvingDE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RoutesId",
											"type": "String"
										},
										"sink": {
											"name": "RoutesId",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "SalesEngineerId",
											"type": "Int32"
										},
										"sink": {
											"name": "Sales_EngineerId",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "ContactPerson",
											"type": "String"
										},
										"sink": {
											"name": "ContactPerson",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Aantal",
											"type": "String"
										},
										"sink": {
											"name": "Aantal",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OmschrijvingClaim",
											"type": "String"
										},
										"sink": {
											"name": "OmschrijvingClaim",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ReturnedPartNumber",
											"type": "String"
										},
										"sink": {
											"name": "ReturnedPartnumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ClaimStatusId",
											"type": "String"
										},
										"sink": {
											"name": "Claim_StatusId",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "SerialNumber",
											"type": "String"
										},
										"sink": {
											"name": "SerialNumber",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Warranty",
											"type": "Boolean"
										},
										"sink": {
											"name": "Warranty",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZendeskNr",
											"type": "String"
										},
										"sink": {
											"name": "ZendeskNr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FOBCZ",
											"type": "Double"
										},
										"sink": {
											"name": "FOBCZ",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CommodityId",
											"type": "String"
										},
										"sink": {
											"name": "CommodityId",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "ProductRetour",
											"type": "Boolean"
										},
										"sink": {
											"name": "Productretour",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CZFastTrack",
											"type": "Boolean"
										},
										"sink": {
											"name": "CZFasttrack",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairTypeId",
											"type": "String"
										},
										"sink": {
											"name": "Repair_typeId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CZSales",
											"type": "Boolean"
										},
										"sink": {
											"name": "CZSales",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShipDate",
											"type": "String"
										},
										"sink": {
											"name": "ShipDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PriceCalculationReport",
											"type": "Boolean"
										},
										"sink": {
											"name": "PricecalculationReport",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SalesCheck",
											"type": "String"
										},
										"sink": {
											"name": "SalesCheck",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SharePointLists",
								"type": "DatasetReference",
								"parameters": {
									"list": "TrackingNumber"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "sharepoint",
									"TableName": "trackingnumber"
								}
							}
						]
					},
					{
						"name": "GetCustomers",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "--truncate table sharepoint.customers",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "InhoudstypeId",
											"type": "String"
										},
										"sink": {
											"name": "InhoudstypeId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String"
										},
										"sink": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ActivumIdVoorCompliance",
											"type": "String"
										},
										"sink": {
											"name": "ActivumIdVoorCompliance",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Klantnummer",
											"type": "String"
										},
										"sink": {
											"name": "Klantnummer",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Klant",
											"type": "String"
										},
										"sink": {
											"name": "Klant",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CreatedById",
											"type": "Int32"
										},
										"sink": {
											"name": "CreatedById",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ModifiedById",
											"type": "Int32"
										},
										"sink": {
											"name": "ModifiedById",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "SE",
											"type": "String"
										},
										"sink": {
											"name": "SE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Actief",
											"type": "Boolean"
										},
										"sink": {
											"name": "Actief",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "DataArea",
											"type": "String"
										},
										"sink": {
											"name": "DataArea",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Inhoudstype",
											"type": "String"
										},
										"sink": {
											"name": "Inhoudstype",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Gewijzigd",
											"type": "DateTime"
										},
										"sink": {
											"name": "Gewijzigd",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Gemaakt",
											"type": "DateTime"
										},
										"sink": {
											"name": "Gemaakt",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Owshiddenversion",
											"type": "Int32"
										},
										"sink": {
											"name": "Owshiddenversion",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Versie",
											"type": "String"
										},
										"sink": {
											"name": "Versie",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pad",
											"type": "String"
										},
										"sink": {
											"name": "Pad",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SharePointLists",
								"type": "DatasetReference",
								"parameters": {
									"list": "Customers"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "sharepoint",
									"TableName": "customers"
								}
							}
						]
					},
					{
						"name": "GetRoutes",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate  table sharepoint.routes",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "InhoudstypeId",
											"type": "String"
										},
										"sink": {
											"name": "InhoudstypeId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String"
										},
										"sink": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ActivumIdVoorCompliance",
											"type": "String"
										},
										"sink": {
											"name": "ActivumIdVoorCompliance",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CreatedById",
											"type": "Int32"
										},
										"sink": {
											"name": "CreatedById",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ModifiedById",
											"type": "Int32"
										},
										"sink": {
											"name": "ModifiedById",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Group",
											"type": "String"
										},
										"sink": {
											"name": "Group",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Text",
											"type": "String"
										},
										"sink": {
											"name": "Text",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Categorie",
											"type": "String"
										},
										"sink": {
											"name": "Categorie",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Inhoudstype",
											"type": "String"
										},
										"sink": {
											"name": "Inhoudstype",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Gewijzigd",
											"type": "DateTime"
										},
										"sink": {
											"name": "Gewijzigd",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Gemaakt",
											"type": "DateTime"
										},
										"sink": {
											"name": "Gemaakt",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Owshiddenversion",
											"type": "Int32"
										},
										"sink": {
											"name": "Owshiddenversion",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Versie",
											"type": "String"
										},
										"sink": {
											"name": "Versie",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pad",
											"type": "String"
										},
										"sink": {
											"name": "Pad",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SharePointLists",
								"type": "DatasetReference",
								"parameters": {
									"list": "Routes"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "sharepoint",
									"TableName": "routes"
								}
							}
						]
					},
					{
						"name": "GetDistributeur",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table sharepoint.Distributeurs",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ContentTypeID",
											"type": "String"
										},
										"sink": {
											"name": "ContentTypeID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ContentType",
											"type": "String"
										},
										"sink": {
											"name": "ContentType",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Distributeur",
											"type": "String"
										},
										"sink": {
											"name": "Distributeur",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Modified",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Created",
											"type": "DateTime"
										},
										"sink": {
											"name": "Created",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "CreatedById",
											"type": "Int32"
										},
										"sink": {
											"name": "CreatedById",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ModifiedById",
											"type": "Int32"
										},
										"sink": {
											"name": "ModifiedById",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Owshiddenversion",
											"type": "Int32"
										},
										"sink": {
											"name": "Owshiddenversion",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Version",
											"type": "String"
										},
										"sink": {
											"name": "Version",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Path",
											"type": "String"
										},
										"sink": {
											"name": "Path",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ComplianceAssetId",
											"type": "String"
										},
										"sink": {
											"name": "ComplianceAssetId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FOID",
											"type": "String"
										},
										"sink": {
											"name": "FOID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SugarID",
											"type": "String"
										},
										"sink": {
											"name": "SugarID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DistributeurGroup",
											"type": "String"
										},
										"sink": {
											"name": "DistributeurGroup",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "DataAreaID",
											"type": "String"
										},
										"sink": {
											"name": "DataAreaID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SharePointLists_PowerBI",
								"type": "DatasetReference",
								"parameters": {
									"list": "Distributeurs"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "sharepoint",
									"TableName": "Distributeurs"
								}
							}
						]
					},
					{
						"name": "GetFeestdagen",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table sharepoint.FeestdagenNL",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Feestdag",
											"type": "String"
										},
										"sink": {
											"name": "Feestdag",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Datum",
											"type": "DateTime"
										},
										"sink": {
											"name": "Datum",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SharePointLists_PowerBI",
								"type": "DatasetReference",
								"parameters": {
									"list": "FeestdagenNL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "sharepoint",
									"TableName": "FeestdagenNL"
								}
							}
						]
					},
					{
						"name": "GetEnergyEfficiencyGroups",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table sharepoint.EnergyEfficiencyGroups",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Family",
											"type": "String"
										},
										"sink": {
											"name": "Family",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Series",
											"type": "String"
										},
										"sink": {
											"name": "Series",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "Int32"
										}
									},
									{
										"source": {
											"name": "Modified",
											"type": "DateTime"
										},
										"sink": {
											"name": "Modified",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SharePointLists_PowerBI",
								"type": "DatasetReference",
								"parameters": {
									"list": "EnergyEfficiencyGroups"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "sharepoint",
									"TableName": "EnergyEfficiencyGroups"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ACC_SharePoint"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_ZenDesk_Tickets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Zendesk_Tickets",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.CSVFile}",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_Zendesk_Blob",
								"type": "DatasetReference",
								"parameters": {
									"CSVFile": "@{pipeline().parameters.CSVFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC-Zendesk"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_ZendDesk_ToBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ImportToBlob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"compressionProperties": {
										"type": "ZipDeflateReadSettings",
										"preserveZipFileNameAsFolder": false
									}
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Zendesk",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Unzip",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ACC-Zendesk"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_tevervroegenorders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sptevervroegen",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "process.spProductionReferences"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Tevervroegenorders",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sptevervroegen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_export"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenACC",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Tevervroegenorders_log",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenACC_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('log_ACC_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_export",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_export"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenACC_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('ACCtevervroegen_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_log_productie",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders_log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4 logProductie"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenACC_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('log_ACC_PROD_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_export_prod",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders_prod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_export_prod"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenACC_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('ACCtevervroegenProd_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_prod",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sptevervroegen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_export_prod"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenACC_prod",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD-TevervroegenOrders"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_tevervroegenorders_C')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Tevervroegenorders_log",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_C"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenACC_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('log_ACC_C_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_C_export"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenACC_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('ACCtevervroegens_C_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_log_productie",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders_log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_C_logProductie"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenACC_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('log_ACC_PROD_C_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sptevervroegen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_C_export"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenACC",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sptevervroegen",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ACC_UpScale",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "process.spProductionReferencesAll"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Tevervroegenorders_export_prod",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders_prod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_C_export_prod"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenACC_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('ACCtevervroegenProd_C_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_prod",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sptevervroegen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_C_export_prod"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenACC_prod",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "ACC_UpScale",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ACC_UpScale",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD-TevervroegenOrders"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EIT_test')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EIT_Stock",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderStoredProcedureName": "[[dbo].[p_ECWStockReportFull]",
								"storedProcedureParameters": {
									"item": {
										"type": "String",
										"value": "%"
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table eit.eitstock",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Warehouse",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Warehouse",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "M3 Item Number",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "M3 Item Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Stock zone",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Stock zone",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "OHB approved",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "OHB approved",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "Allocatable ohb",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "Allocatable ohb",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "Allocated qty",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "Allocated qty",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "Bin Qty",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "Bin Qty",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "Acquisition cd.",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "Acquisition cd.",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "Planning policy",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Planning policy",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Country of orig",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Country of orig",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Item status",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Item status",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Planner",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Planner",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Available Stock (Allocatable-Allocated)",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 16
										},
										"sink": {
											"name": "Available Stock (Allocatable-Allocated)",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "Note",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Note",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Timestamp_LastUpdate",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 8
										},
										"sink": {
											"name": "Timestamp_LastUpdate",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "Safety Stock",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "Safety Stock",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "Max Stock",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "Max Stock",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "EITtest",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "eit",
									"TableName": "EITSTock"
								}
							}
						]
					},
					{
						"name": "MITMAS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table eit.eitmitmas",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "MMCONO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 3
										},
										"sink": {
											"name": "MMCONO",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMSTAT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMSTAT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMITNO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMITNO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMITDS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMITDS",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMFUDS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMFUDS",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMDWNO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMDWNO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMRESP",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMRESP",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMDCCD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMDCCD",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMUNMS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMUNMS",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMITGR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMITGR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMITCL",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMITCL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMBUAR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMBUAR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMEVGR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMEVGR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMITTY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMITTY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMTPCD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 2
										},
										"sink": {
											"name": "MMTPCD",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMMABU",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMMABU",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMCHCD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMCHCD",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMSTCD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMSTCD",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMBACD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMBACD",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMVOL3",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 9
										},
										"sink": {
											"name": "MMVOL3",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMNEWE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 9
										},
										"sink": {
											"name": "MMNEWE",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMGRWE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 9
										},
										"sink": {
											"name": "MMGRWE",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMPPUN",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMPPUN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMBYPR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMBYPR",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMWAPC",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 5
										},
										"sink": {
											"name": "MMWAPC",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMQACD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMQACD",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMEPCD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMEPCD",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMPOCY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 5
										},
										"sink": {
											"name": "MMPOCY",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMACTI",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMACTI",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMHIE1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMHIE1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMHIE2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMHIE2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMHIE3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMHIE3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMHIE4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMHIE4",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMHIE5",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMHIE5",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMGRP1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMGRP1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMGRP2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMGRP2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMGRP3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMGRP3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMGRP4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMGRP4",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMGRP5",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMGRP5",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMCFI1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMCFI1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMCFI2",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "MMCFI2",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMCFI3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMCFI3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMCFI4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMCFI4",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMCFI5",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMCFI5",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMECCC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMECCC",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMTXID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 13
										},
										"sink": {
											"name": "MMTXID",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMDTID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 13
										},
										"sink": {
											"name": "MMDTID",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMECVE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMECVE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMECAC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMECAC",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMECMA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMECMA",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMECFL",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMECFL",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMWSCA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMWSCA",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMPRGP",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMPRGP",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMETRF",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMETRF",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMACRF",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMACRF",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMINDI",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMINDI",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMPUUN",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMPUUN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMAUTC",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMAUTC",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMALUC",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMALUC",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMPDCC",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMPDCC",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMIEAA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMIEAA",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMRIDE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMRIDE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMRIDC",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMRIDC",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMGRTI",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMGRTI",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMGRTS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMGRTS",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMEXPD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMEXPD",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMITRF",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMITRF",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMPRCM",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMPRCM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMGRMT",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMGRMT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMHAZI",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMHAZI",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMSALE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMSALE",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMFRAG",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 2
										},
										"sink": {
											"name": "MMFRAG",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMTAXC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMTAXC",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMATMO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMATMO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMATMN",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMATMN",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMTPLI",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMTPLI",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMFCU1",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 11
										},
										"sink": {
											"name": "MMFCU1",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMSUNO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMSUNO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMPUPR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 17
										},
										"sink": {
											"name": "MMPUPR",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMPUCD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 5
										},
										"sink": {
											"name": "MMPUCD",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMCUCD",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMCUCD",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMPPDT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 8
										},
										"sink": {
											"name": "MMPPDT",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMSAPR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 17
										},
										"sink": {
											"name": "MMSAPR",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMSTUN",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMSTUN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMSACD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 5
										},
										"sink": {
											"name": "MMSACD",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMCUCS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMCUCS",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMSPDT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 8
										},
										"sink": {
											"name": "MMSPDT",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMDIGI",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMDIGI",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMBGRP",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMBGRP",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMPRVG",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMPRVG",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMFRE3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMFRE3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMFRE4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMFRE4",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMOTDI",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMOTDI",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMBOGR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMBOGR",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMPRGR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMPRGR",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMLAMA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 5
										},
										"sink": {
											"name": "MMLAMA",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMACHK",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMACHK",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMBPEY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMBPEY",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMSPUN",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMSPUN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMSPUC",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMSPUC",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMALUN",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMALUN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMUNNN",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 4
										},
										"sink": {
											"name": "MMUNNN",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMUNPA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMUNPA",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMHAC1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMHAC1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMHAC2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMHAC2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMHAC3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMHAC3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMDIM1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMDIM1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMDIM2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMDIM2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMDIM3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMDIM3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMSPE1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMSPE1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMSPE2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMSPE2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMSPE3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMSPE3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMSPE4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMSPE4",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMSPE5",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMSPE5",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMCETY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMCETY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMSTCN",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMSTCN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMSPAC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMSPAC",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMTRPA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMTRPA",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMPROD",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMPROD",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMSMFI",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMSMFI",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMTANK",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMTANK",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMARPA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMARPA",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMARPR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMARPR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMAMPT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 3
										},
										"sink": {
											"name": "MMAMPT",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMAWDY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 5
										},
										"sink": {
											"name": "MMAWDY",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMNPTO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 3
										},
										"sink": {
											"name": "MMNPTO",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMMES1",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMMES1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMMES2",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMMES2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMMES3",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMMES3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMMES4",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMMES4",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMMVA1",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "MMMVA1",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMMVA2",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "MMMVA2",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMMVA3",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "MMMVA3",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMMVA4",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "MMMVA4",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMPEQ1",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 5
										},
										"sink": {
											"name": "MMPEQ1",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMPEQ2",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 5
										},
										"sink": {
											"name": "MMPEQ2",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMPEQ3",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 5
										},
										"sink": {
											"name": "MMPEQ3",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMPEQ4",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 5
										},
										"sink": {
											"name": "MMPEQ4",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMPET1",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMPET1",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMPET2",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMPET2",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMPET3",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMPET3",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMPET4",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMPET4",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMMPGM",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMMPGM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMORTY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMORTY",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMPLCD",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMPLCD",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMMAPL",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMMAPL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMTOHI",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMTOHI",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMTORE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMTORE",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMFEBA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMFEBA",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMMAPN",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMMAPN",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMDOID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMDOID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMSEPR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 17
										},
										"sink": {
											"name": "MMSEPR",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMSTCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 15
										},
										"sink": {
											"name": "MMSTCS",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMNESA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMNESA",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMNSUF",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMNSUF",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMFCCM",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMFCCM",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMDPID",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 2
										},
										"sink": {
											"name": "MMDPID",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMCONC",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMCONC",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMPLMZ",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 4
										},
										"sink": {
											"name": "MMPLMZ",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMCCO1",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 5
										},
										"sink": {
											"name": "MMCCO1",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMCCO2",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 5
										},
										"sink": {
											"name": "MMCCO2",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMCCO3",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 3,
											"precision": 5
										},
										"sink": {
											"name": "MMCCO3",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMWADY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 5
										},
										"sink": {
											"name": "MMWADY",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMTBSR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "MMTBSR",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMMBSR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMMBSR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMTBUR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "MMTBUR",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMMBUR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMMBUR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMTBFR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "MMTBFR",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMMBFR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMMBFR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMAESC",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMAESC",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMAES2",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMAES2",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMAMOR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMAMOR",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMFUNC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMFUNC",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMSTNC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMSTNC",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMDIRR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "MMDIRR",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMMDIR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMMDIR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMSCGR",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 1,
											"precision": 3
										},
										"sink": {
											"name": "MMSCGR",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMARR1",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMARR1",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMAEQY",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "MMAEQY",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMLEAI",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 3
										},
										"sink": {
											"name": "MMLEAI",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMWAL1",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "MMWAL1",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMWAL2",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "MMWAL2",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMWAL3",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "MMWAL3",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMWAL4",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 15
										},
										"sink": {
											"name": "MMWAL4",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMIACP",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMIACP",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMHDPR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMHDPR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MMAAD0",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMAAD0",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMAAD1",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMAAD1",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMCHCL",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMCHCL",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMITRC",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 1
										},
										"sink": {
											"name": "MMITRC",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMVTCP",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 2
										},
										"sink": {
											"name": "MMVTCP",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMVTCS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 2
										},
										"sink": {
											"name": "MMVTCS",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMRGDT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 8
										},
										"sink": {
											"name": "MMRGDT",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMRGTM",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 6
										},
										"sink": {
											"name": "MMRGTM",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMLMDT",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 8
										},
										"sink": {
											"name": "MMLMDT",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMCHNO",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 3
										},
										"sink": {
											"name": "MMCHNO",
											"type": "Decimal",
											"physicalType": "Decimal"
										}
									},
									{
										"source": {
											"name": "MMCHID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "MMCHID",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LoadDate",
											"type": "DateTime",
											"physicalType": "smalldatetime"
										},
										"sink": {
											"name": "LoadDate",
											"type": "DateTime",
											"physicalType": "DateTime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "EITtest",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "eit",
									"TableName": "EITMITMAS"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}