df-d365-byod/linkedTemplates/ArmTemplate_10.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-d365-byod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow3",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dailyat0700')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "LeadTimeBatch",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "spFactInvoicedQuantityN_v2",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-08-08T08:09:00",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EveryDayAt0145')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PRD_tevervroegenorders",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-08-22T12:04:00",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"minutes": [
								45
							],
							"hours": [
								1
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EveryDayat0200')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PRD_FO_ItemsF",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-06-14T06:41:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								2
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/InventoryToJPN')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "QueryOut",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-03-09T14:33:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sunday')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PRD_Matrix_Import",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2022-07-01T20:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"weekDays": [
								"Sunday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/everydayat300')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PRD_tevervroegenorders_C",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "PRD_tevervroegenorders_U",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-09-26T13:19:00",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								3
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_Process_Customers_IFS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Process_IFS_Stage",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ACC_Process_IFS_Stage",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ACC-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2021-04-06T13:11:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_Process_DWH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_Load_Group",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach DistributeurLijst",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ForEach BudgetDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ForEach BudgetInDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Process_IFS_Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Stage SugarCRM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT DISTINCT LoadgroupID, LoadOrder FROM process.ProcessView WHERE SourceConnectionID = 1 ORDER BY LoadOrder",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Load_Group",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Load_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Load_Group').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute_Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_Materialize_Views",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"LoadGroupID": {
												"value": "@{Item().LoadGroupID}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_Distributeur",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 2 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach DistributeurLijst",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_Distributeur",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_Distributeur').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "DistributionList",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_DistributionList",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach BudgetDirectSales",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_Distributeur",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup_Full_ExcelFiles_BudgetDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_BudgetDirectSales').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "BudgetDirectSales",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_BudgetDirectSales",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach BudgetInDirectSales",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_Distributeur",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_BudgetInDirectSales').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "BudgetInDirectSales",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_BudgetInDirectSales",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 3 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_BudgetDirectSales",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 4 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Process_IFS_Stage",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ACC_Process_IFS_Stage",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stage SugarCRM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ACC_Process_SugarCRM_DataBase",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "spLoadDataAfterFullLoad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "For_Each_Load_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[process].[spLoadDataAfterFullLoad]"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACC_Process_Zendesk",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ACC_Process_Zendesk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "ACC-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_Process_DWH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PRD_UpScale",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_Load_Group",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach DistributeurLijst",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ForEach BudgetDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ForEach BudgetInDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Process_IFS_Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Stage SugarCRM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT DISTINCT LoadgroupID, LoadOrder FROM process.ProcessView WHERE SourceConnectionID = 1 ORDER BY LoadOrder",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Load_Group",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Load_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Load_Group').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute_Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_Materialize_Views",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"LoadGroupID": {
												"value": "@{Item().LoadGroupID}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_Distributeur",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 2 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach DistributeurLijst",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_Distributeur",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_Distributeur').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "DistributionList",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_DistributionList",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach BudgetDirectSales",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_BudgetDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_BudgetDirectSales').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "BudgetDirectSales",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_BudgetDirectSales",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach BudgetInDirectSales",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_BudgetInDirectSales').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "BudgetInDirectSales",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_BudgetInDirectSales",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 3 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_BudgetDirectSales",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 4 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Process_IFS_Stage",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_Process_IFS_Stage",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stage SugarCRM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_Process_SugarCRM_DataBase",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "spLoadDataAfterFullLoad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "For_Each_Load_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[process].[spLoadDataAfterFullLoad]"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "process Zendesk",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_Process_Zendesk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PRD_UpScale",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_UpScale",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PRD_DownScale",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spLoadDataAfterFullLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_DownScale",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PRD_SharepointLijsten",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_SharepointLijsten",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T14:26:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_Process_DWH_loaddata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_Distributeur",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 2 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach DistributeurLijst",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_Distributeur",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_Distributeur').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "DistributionList",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_DistributionList",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach BudgetDirectSales",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_BudgetDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_BudgetDirectSales').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "BudgetDirectSales",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_BudgetDirectSales",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach BudgetInDirectSales",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_BudgetInDirectSales').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "BudgetInDirectSales",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_BudgetInDirectSales",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 3 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_BudgetDirectSales",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 4 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Process_IFS_Stage",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_Process_IFS_Stage",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stage SugarCRM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_Process_SugarCRM_DataBase",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "process Zendesk",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_Process_Zendesk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PRD_SharepointLijsten",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_SharepointLijsten",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T14:26:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_Process_DWH_zonderSharepoint')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PRD_UpScale",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_Load_Group",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach DistributeurLijst",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ForEach BudgetDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ForEach BudgetInDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Process_IFS_Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Stage SugarCRM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT DISTINCT LoadgroupID, LoadOrder FROM process.ProcessView WHERE SourceConnectionID = 1 ORDER BY LoadOrder",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Load_Group",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Load_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Load_Group').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute_Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_Materialize_Views",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"LoadGroupID": {
												"value": "@{Item().LoadGroupID}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_Distributeur",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 2 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach DistributeurLijst",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_Distributeur",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_Distributeur').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "DistributionList",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_DistributionList",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach BudgetDirectSales",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_BudgetDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_BudgetDirectSales').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "BudgetDirectSales",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_BudgetDirectSales",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach BudgetInDirectSales",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_BudgetInDirectSales').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "BudgetInDirectSales",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_BudgetInDirectSales",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 3 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_BudgetDirectSales",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 4 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Process_IFS_Stage",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_Process_IFS_Stage",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stage SugarCRM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_Process_SugarCRM_DataBase",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "spLoadDataAfterFullLoad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "For_Each_Load_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[process].[spLoadDataAfterFullLoad]"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "process Zendesk",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_Process_Zendesk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PRD_UpScale",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_UpScale",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PRD_DownScale",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spLoadDataAfterFullLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_DownScale",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T14:26:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily_PRD')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PRD_Process_DWH_create",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-03-27T14:30:00",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								5
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily_ACC')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ACC_Process_DWH",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-08-27T03:05:00",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								4
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ACC_Process_DWH')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_DWH_loadblob')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "load blob and sharepoint data",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PRD_Process_DWH_loaddata",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2023-09-12T06:34:00",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								2
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PRD_Process_DWH_loaddata')]"
			]
		}
	]
}