df-d365-byod/linkedTemplates/ArmTemplate_5.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-d365-byod"
		},
		"trigger1test_properties_RefreshPowerBI_PRD_parameters_SecretName_TenantId": {
			"type": "string",
			"defaultValue": "fe754037-10dc-495e-90da-045b680fb646"
		},
		"trigger1test_properties_RefreshPowerBI_PRD_parameters_SecretName_SPClientId": {
			"type": "string",
			"defaultValue": "1"
		},
		"trigger1test_properties_RefreshPowerBI_PRD_parameters_SecretName_SPSecret": {
			"type": "string",
			"defaultValue": "1"
		},
		"trigger1test_properties_RefreshPowerBI_PRD_parameters_KeyVaultDNSName": {
			"type": "string",
			"defaultValue": "1"
		},
		"trigger1test_properties_RefreshPowerBI_PRD_parameters_workspaceGuid": {
			"type": "string",
			"defaultValue": "1"
		},
		"trigger1test_properties_RefreshPowerBI_PRD_parameters_datasetGuid": {
			"type": "string",
			"defaultValue": "1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "gettoken",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://accounts.accesscontrol.windows.net/fe754037-10dc-495e-90da-045b680fb646/tokens/OAuth/2",
							"method": "POST",
							"headers": {
								"Content-Type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=client_credentials&client_id=3c9c0d42-fbe6-4add-a30a-92d328806209@fe754037-10dc-495e-90da-045b680fb646&client_secret= Cvc8Q~DY2riwT4v3GvN8hsxHuQVXLoohrcfFOaVs&resource=00000003-0000-0ff1-ce00-000000000000/aquapro.sharepoint.com@fe754037-10dc-495e-90da-045b680fb646"
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "gettoken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "dtd",
									"detectDataType": true,
									"namespaces": true
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table dbo.properties",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Xml1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dbo",
									"TableName": "properties"
								}
							}
						]
					},
					{
						"name": "Copy data1_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "gettoken",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET",
									"additionalHeaders": {
										"value": "@{concat('Authorization: Bearer ', activity('gettoken').output.access_token)}",
										"type": "Expression"
									},
									"requestTimeout": ""
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table dbo.test",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dbo",
									"TableName": "test"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "PRD_Matrix"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "InhoudstypeId",
											"type": "String"
										},
										"sink": {
											"name": "ContentTypeId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "KlantId",
											"type": "Int32"
										},
										"sink": {
											"name": "KlantId",
											"type": "Int16",
											"physicalType": "smallint"
										}
									},
									{
										"source": {
											"name": "SerieId",
											"type": "Int32"
										},
										"sink": {
											"name": "SerieId",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "StrokeId",
											"type": "String"
										},
										"sink": {
											"name": "StrokeId",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "ProductcategorieId",
											"type": "Int32"
										},
										"sink": {
											"name": "ProductcategorieId",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "Artikelcode",
											"type": "String"
										},
										"sink": {
											"name": "Artikelcode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OmschrijvingENG",
											"type": "String"
										},
										"sink": {
											"name": "Omschrijving",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StatusValue",
											"type": "String"
										},
										"sink": {
											"name": "GtnStatus",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "StatusOpmerking",
											"type": "String"
										},
										"sink": {
											"name": "Status_Opmerking",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CZ",
											"type": "Boolean"
										},
										"sink": {
											"name": "CZ",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "Approved",
											"type": "Boolean"
										},
										"sink": {
											"name": "Approved",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "StatusD365Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Status_D365Id",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "MeldingD365",
											"type": "String"
										},
										"sink": {
											"name": "MeldingD365",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CustomerPartNr",
											"type": "String"
										},
										"sink": {
											"name": "CustomerPartNr",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "OmschrijvingFR",
											"type": "String"
										},
										"sink": {
											"name": "OmschrijvingFR",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OmschrijvingDE",
											"type": "String"
										},
										"sink": {
											"name": "OmschrijvingDE",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RoutesId",
											"type": "String"
										},
										"sink": {
											"name": "RoutesId",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "SalesEngineerId",
											"type": "Int32"
										},
										"sink": {
											"name": "Sales_EngineerId",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "ContactPerson",
											"type": "String"
										},
										"sink": {
											"name": "ContactPerson",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Aantal",
											"type": "String"
										},
										"sink": {
											"name": "Aantal",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "OmschrijvingClaim",
											"type": "String"
										},
										"sink": {
											"name": "OmschrijvingClaim",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ReturnedPartNumber",
											"type": "String"
										},
										"sink": {
											"name": "ReturnedPartnumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ClaimStatusId",
											"type": "String"
										},
										"sink": {
											"name": "Claim_StatusId",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "SerialNumber",
											"type": "String"
										},
										"sink": {
											"name": "SerialNumber",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Warranty",
											"type": "Boolean"
										},
										"sink": {
											"name": "Warranty",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ZendeskNr",
											"type": "String"
										},
										"sink": {
											"name": "ZendeskNr",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "FOBCZ",
											"type": "Double"
										},
										"sink": {
											"name": "FOBCZ",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "CommodityId",
											"type": "String"
										},
										"sink": {
											"name": "CommodityId",
											"type": "Byte",
											"physicalType": "tinyint"
										}
									},
									{
										"source": {
											"name": "ProductRetour",
											"type": "Boolean"
										},
										"sink": {
											"name": "Productretour",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CZFastTrack",
											"type": "Boolean"
										},
										"sink": {
											"name": "CZFasttrack",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RepairTypeId",
											"type": "String"
										},
										"sink": {
											"name": "Repair_typeId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CZSales",
											"type": "Boolean"
										},
										"sink": {
											"name": "CZSales",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ShipDate",
											"type": "String"
										},
										"sink": {
											"name": "ShipDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PriceCalculationReport",
											"type": "Boolean"
										},
										"sink": {
											"name": "PricecalculationReport",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SalesCheck",
											"type": "String"
										},
										"sink": {
											"name": "SalesCheck",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SharePointOnlineListResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dbo",
									"TableName": "properties"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "PRD_Matrix"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_Process_DWH_Only_DWH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_Load_Group",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT DISTINCT LoadgroupID, LoadOrder FROM process.ProcessView WHERE SourceConnectionID = 1 ORDER BY LoadOrder",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Load_Group",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Load_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Load_Group').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute_Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_Materialize_Views_copy1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"LoadGroupID": {
												"value": "@{Item().LoadGroupID}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ACC-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_Process_DWH_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "ForEach BudgetDirectSales",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_BudgetDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_BudgetDirectSales').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "BudgetDirectSales",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_BudgetDirectSales",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_BudgetDirectSales",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 4 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ACC-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2021-02-04T08:18:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_Process_IFS_Stage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_IFS_Products",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 6 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach IFS_Products",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_IFS_Products",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_IFS_Products').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "IFS_Products",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_IFS_Products",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach IFS_GLAccounts",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_IFS_GLAccounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_IFS_GLAccounts').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "IFS_GLAccounts",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_IFS_GLAccounts",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach IFS_Customer",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_IFS_Customer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_IFS_Customer').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "IFS_Customer",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_IFS_Customer",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_IFS_Customer",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 5 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_IFS_GLAccounts",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 7 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup_Full_CSVFiles_IFS_SalesInvoice",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 8 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach IFS_SalesInvoice",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_CSVFiles_IFS_SalesInvoice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_CSVFiles_IFS_SalesInvoice').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "IFS_SalesInvoice",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_IFS_SalesInvoice",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"CSVFile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_CSVFiles_IFS_GLTransActions",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 9 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach IFS_GLTransActions",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_CSVFiles_IFS_GLTransActions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_CSVFiles_IFS_GLTransActions').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "IFS_GLTransActions",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_IFS_GLTransActions",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"CSVFile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_CSVFiles_IFS_InventoryTransactions",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 16 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach IFS_InventoryTransactions",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_CSVFiles_IFS_InventoryTransactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_CSVFiles_IFS_InventoryTransactions').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "IFS_InventoryTransactions",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_IFS_InventoryTransactions",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"CSVFile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ACC-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_Process_Zendesk')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ACC_ZendDesk_ToBlob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_Full_CSVFiles",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 15 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach zendesk",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_CSVFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_CSVFiles').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "zenDeskTickets",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_ZenDesk_Tickets",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"CSVFile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ACC_ZendDesk_ToBlob",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ACC_ZendDesk_ToBlob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "fill_dwhZendesk",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach zendesk",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[process].[FactZendeskTickets_INCR]"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_DEV",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ACC-Zendesk"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_Process_DWH_Only')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_Load_Group",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT DISTINCT LoadgroupID, LoadOrder FROM process.ProcessView WHERE SourceConnectionID = 1 ORDER BY LoadOrder",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Load_Group",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Load_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Load_Group').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute_Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_Materialize_Views",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"LoadGroupID": {
												"value": "@{Item().LoadGroupID}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "PRD-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-28T07:41:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_Process_DWH_zonder_Blob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PRD_UpScale",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_Load_Group",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT DISTINCT LoadgroupID, LoadOrder FROM process.ProcessView WHERE SourceConnectionID = 1 ORDER BY LoadOrder",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Load_Group",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Load_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Load_Group').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute_Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_Materialize_Views",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"LoadGroupID": {
												"value": "@{Item().LoadGroupID}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "spLoadDataAfterFullLoad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "For_Each_Load_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[process].[spLoadDataAfterFullLoad]"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRD_UpScale",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_UpScale",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PRD_DownScale",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spLoadDataAfterFullLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_DownScale",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "PRD-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T14:26:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_Process_IFS_Stage')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_IFS_Products",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 6 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dum,my",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach IFS_Products",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_IFS_Products",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_IFS_Products').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "IFS_Products",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_IFS_Products",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach IFS_GLAccounts",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_IFS_Products",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup_Full_ExcelFiles_IFS_GLAccounts",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_IFS_GLAccounts').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "IFS_GLAccounts",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_IFS_GLAccounts",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach IFS_Customer",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_IFS_Products",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup_Full_ExcelFiles_IFS_Customer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_IFS_Customer').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "IFS_Customer",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_IFS_Customer",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_IFS_Customer",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 5 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_IFS_GLAccounts",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 7 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup_Full_CSVFiles_IFS_SalesInvoice",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 8 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach IFS_SalesInvoice",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_CSVFiles_IFS_SalesInvoice",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_CSVFiles_IFS_SalesInvoice').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "IFS_SalesInvoice",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_IFS_SalesInvoice",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"CSVFile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_CSVFiles_IFS_GLTransActions",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 9 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach IFS_GLTransActions",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_CSVFiles_IFS_GLTransActions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_CSVFiles_IFS_GLTransActions').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "IFS_GLTransActions",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_IFS_GLTransActions",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"CSVFile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_CSVFiles_IFS_InventoryTransactions",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 17 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach IFS_InventoryTransactions",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_CSVFiles_IFS_InventoryTransactions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_CSVFiles_IFS_InventoryTransactions').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "IFS_InventoryTransactions",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_IFS_InventoryTransactions",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"CSVFile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "PRD-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T13:45:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_Process_IFS_customer_only')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "ForEach IFS_Customer",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_IFS_Customer",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_IFS_Customer').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "IFS_Customer",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_IFS_Customer",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_IFS_Customer",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 5 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "PRD-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T13:45:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_Process_Zendesk')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PRD_ZendDesk_ToBlob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_Full_CSVFiles",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 16 ",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach zendesk",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_CSVFiles",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_CSVFiles').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "zenDeskTickets",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_ZenDesk_Tickets",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"CSVFile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "PRD_ZendDesk_ToBlob",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_ZendDesk_ToBlob",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "fill_dwhZendesk",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "ForEach zendesk",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[process].[FactZendeskTickets_INCR]"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_PROD",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "PRD_Zendesk"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/InventoryToJPN')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "QueryOut",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-03-09T14:33:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sunday')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PRD_Matrix_Import",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Week",
						"interval": 1,
						"startTime": "2022-07-01T20:00:00Z",
						"timeZone": "UTC",
						"schedule": {
							"weekDays": [
								"Sunday"
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1test')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "RefreshPowerBI_PRD",
							"type": "PipelineReference"
						},
						"parameters": {
							"SecretName_TenantId": "[parameters('trigger1test_properties_RefreshPowerBI_PRD_parameters_SecretName_TenantId')]",
							"SecretName_SPClientId": "[parameters('trigger1test_properties_RefreshPowerBI_PRD_parameters_SecretName_SPClientId')]",
							"SecretName_SPSecret": "[parameters('trigger1test_properties_RefreshPowerBI_PRD_parameters_SecretName_SPSecret')]",
							"KeyVaultDNSName": "[parameters('trigger1test_properties_RefreshPowerBI_PRD_parameters_KeyVaultDNSName')]",
							"workspaceGuid": "[parameters('trigger1test_properties_RefreshPowerBI_PRD_parameters_workspaceGuid')]",
							"datasetGuid": "[parameters('trigger1test_properties_RefreshPowerBI_PRD_parameters_datasetGuid')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-07-04T00:48:00",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"minutes": [
								15
							],
							"hours": [
								12
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_Process_Customers_IFS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Process_IFS_Stage",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ACC_Process_IFS_Stage",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ACC-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2021-04-06T13:11:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ACC_Process_IFS_Stage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_Process_DWH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_Load_Group",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach DistributeurLijst",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ForEach BudgetDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ForEach BudgetInDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Process_IFS_Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Stage SugarCRM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT DISTINCT LoadgroupID, LoadOrder FROM process.ProcessView WHERE SourceConnectionID = 1 ORDER BY LoadOrder",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Load_Group",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Load_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Load_Group').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute_Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_Materialize_Views",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"LoadGroupID": {
												"value": "@{Item().LoadGroupID}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_Distributeur",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 2 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach DistributeurLijst",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_Distributeur",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_Distributeur').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "DistributionList",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_DistributionList",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach BudgetDirectSales",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_Distributeur",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup_Full_ExcelFiles_BudgetDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_BudgetDirectSales').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "BudgetDirectSales",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_BudgetDirectSales",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach BudgetInDirectSales",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_Distributeur",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_BudgetInDirectSales').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "BudgetInDirectSales",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "ACC_BudgetInDirectSales",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 3 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_BudgetDirectSales",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 4 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "ACC_BYOD_DEV_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Process_IFS_Stage",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ACC_Process_IFS_Stage",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stage SugarCRM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ACC_Process_SugarCRM_DataBase",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "spLoadDataAfterFullLoad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "For_Each_Load_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[process].[spLoadDataAfterFullLoad]"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "ACC_Process_Zendesk",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "ACC_Process_Zendesk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "ACC-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ACC_Process_IFS_Stage')]",
				"[concat(variables('factoryId'), '/pipelines/ACC_Process_Zendesk')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_Process_DWH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "PRD_UpScale",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_Load_Group",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach DistributeurLijst",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ForEach BudgetDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ForEach BudgetInDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Process_IFS_Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Stage SugarCRM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT DISTINCT LoadgroupID, LoadOrder FROM process.ProcessView WHERE SourceConnectionID = 1 ORDER BY LoadOrder",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Load_Group",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Load_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Load_Group').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute_Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_Materialize_Views",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"LoadGroupID": {
												"value": "@{Item().LoadGroupID}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_Distributeur",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 2 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach DistributeurLijst",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_Distributeur",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_Distributeur').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "DistributionList",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_DistributionList",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach BudgetDirectSales",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_Distributeur",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup_Full_ExcelFiles_BudgetDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_BudgetDirectSales').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "BudgetDirectSales",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_BudgetDirectSales",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach BudgetInDirectSales",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_Distributeur",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_BudgetInDirectSales').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "BudgetInDirectSales",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_BudgetInDirectSales",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 3 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_BudgetDirectSales",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 4 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Process_IFS_Stage",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_Process_IFS_Stage",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stage SugarCRM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_Process_SugarCRM_DataBase",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "spLoadDataAfterFullLoad",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "For_Each_Load_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[process].[spLoadDataAfterFullLoad]"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "process Zendesk",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_Process_Zendesk",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PRD_UpScale",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_UpScale",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "PRD_DownScale",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "spLoadDataAfterFullLoad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_DownScale",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "PRD-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T14:26:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PRD_Process_IFS_Stage')]",
				"[concat(variables('factoryId'), '/pipelines/PRD_Process_Zendesk')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_Process_DWH_backup_20210327')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_Load_Group",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach DistributeurLijst",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ForEach BudgetDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "ForEach BudgetInDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Process_IFS_Stage",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Stage SugarCRM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT DISTINCT LoadgroupID, LoadOrder FROM process.ProcessView WHERE SourceConnectionID = 1 ORDER BY LoadOrder",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Load_Group",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Load_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Load_Group').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute_Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_Materialize_Views",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"LoadGroupID": {
												"value": "@{Item().LoadGroupID}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_Distributeur",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 2 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach DistributeurLijst",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_Distributeur",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_Distributeur').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "DistributionList",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_DistributionList",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach BudgetDirectSales",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_Distributeur",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup_Full_ExcelFiles_BudgetDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_BudgetDirectSales').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "BudgetDirectSales",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_BudgetDirectSales",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "ForEach BudgetInDirectSales",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_ExcelFiles_Distributeur",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_ExcelFiles_BudgetInDirectSales').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "BudgetInDirectSales",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PRD_BudgetInDirectSales",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Worksheet": {
												"value": "@{Item().SourceSchemaName}",
												"type": "Expression"
											},
											"Excelfile": {
												"value": "@{Item().SourceTableName}",
												"type": "Expression"
											},
											"StartDateTime": {
												"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
												"type": "Expression"
											},
											"TargetTableName": {
												"value": "@{Item().TargetTableName}",
												"type": "Expression"
											},
											"TargetSchemaName": {
												"value": "@{Item().TargetSchemaName}",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 3 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup_Full_ExcelFiles_BudgetDirectSales",
						"description": "Lookup the tables from the source database which are used in the full copy.",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 4 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Process_IFS_Stage",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_Process_IFS_Stage",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Stage SugarCRM",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_Process_SugarCRM_DataBase",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "PRD-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T14:28:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PRD_Process_IFS_Stage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily_ACC')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ACC_Process_DWH",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-08-27T03:05:00",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								5
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/ACC_Process_DWH')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Daily_PRD')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PRD_Process_DWH",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-03-27T14:30:00",
						"timeZone": "W. Europe Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								4
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PRD_Process_DWH')]"
			]
		}
	]
}