df-d365-byod/linkedTemplates/ArmTemplate_7.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-d365-byod"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PRD_FO_ItemsF')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FO_itemsF",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table stage.FO_itemsF",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ItemId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ItemId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "AltItemId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AltItemId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ProdLifecyclestate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProdLifecyclestate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Blockingreason",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Blockingreason",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductType",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ItemType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ItemType",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NetWeight",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NetWeight",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TaraWeight",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TaraWeight",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CostgroupId",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CostgroupId",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CountryOrigin",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CountryOrigin",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Intrastatcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Intrastatcode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SalesPrice",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalesPrice",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "LinediscGrp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "LinediscGrp",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Unit",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Unit",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TaxItemgrp",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TaxItemgrp",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Barcode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Barcode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cost_price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cost_price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NameNL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NameNL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DescriptionNL",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DescriptionNL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NameEN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NameEN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DescriptionEN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DescriptionEN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NameFR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NameFR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DescriptionFR",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DescriptionFR",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "NameDE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NameDE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DescriptionDE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DescriptionDE",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PurchLeadtime",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PurchLeadtime",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PurchMultiple",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PurchMultiple",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DefaultOrderType",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DefaultOrderType",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SalesHigestQty",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalesHigestQty",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SalesMultipleQty",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalesMultipleQty",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ExternalSalesLeadtime",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ExternalSalesLeadtime",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SalesLeadtime",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalesLeadtime",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Code3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Code3",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Code4",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Code4",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "TrackingDimensionGroup",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TrackingDimensionGroup",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ItemCoverageGroup",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ItemCoverageGroup",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CoverageMin",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoverageMin",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CoverageMax",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoverageMax",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "InventStatus",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "InventStatus",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ItemCoverageGroupPlan",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ItemCoverageGroupPlan",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "EcwStock",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EcwStock",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PrimaryVendor",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PrimaryVendor",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "BuyerGroup",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BuyerGroup",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "SourcingFromStock",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SourcingFromStock",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "EcwItem",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EcwItem",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "EcwMaxLeadTime",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EcwMaxLeadTime",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "EcwSourcingTimeFence",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EcwSourcingTimeFence",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "VendorExternalItem",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VendorExternalItem",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DualUseProduct",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DualUseProduct",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "DualUseCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DualUseCode",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "InventMultiple",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "InventMultiple",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ATPTimeFence",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ATPTimeFence",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "FO_ItemsF",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "stage",
									"TableName": "FO_itemsF"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD_Zendesk"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_FillMetadata_DWH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy DWH view metadata",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT c.TABLE_CATALOG AS TableCatalog, \nc.TABLE_SCHEMA AS TableSchema, \nc.TABLE_NAME AS TableName, \nc.COLUMN_NAME AS ColumnName,\nCASE WHEN x.TABLE_NAME IS NULL THEN 0 WHEN x.TABLE_NAME IS NOT NULL THEN 1 END AS PrimaryKey,\nc.ORDINAL_POSITION AS OrdinalPosition, \nCASE\n\t\t\t\tWHEN c.DATA_TYPE IN ('real','money','decimal','numeric') THEN 'numeric(28,12)'\n\t\t\t\tWHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH < 1 THEN 'nvarchar(max)'\n\t\t\t\tWHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH > 1024 THEN 'nvarchar(max)'\n\t\t\t\tWHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH BETWEEN 1 AND 1024 THEN 'nvarchar(' + convert(varchar,CHARACTER_MAXIMUM_LENGTH) + ')'\n\t\t\t\t--WHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH BETWEEN 8 AND 32 THEN 'nvarchar(32)'\n\t\t\t\t--WHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH BETWEEN 32 AND 128 THEN 'nvarchar(128)'\n\t\t\t\t--WHEN c.DATA_TYPE IN ('char','nvarchar','varchar','nchar') AND CHARACTER_MAXIMUM_LENGTH BETWEEN 128 AND 1024 THEN 'nvarchar(1024)'\n\t\t\t\tELSE c.DATA_TYPE\n\t\t\t END as DataType \nFROM information_schema.columns c\nLEFT OUTER JOIN (SELECT TABLE_SCHEMA, TABLE_NAME, COLUMN_NAME \n\t\t         FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE\n                 WHERE OBJECTPROPERTY(OBJECT_ID(CONSTRAINT_SCHEMA + '.' + QUOTENAME(CONSTRAINT_NAME)), 'ISPRIMARYKEY') = 1\n                ) x ON x.TABLE_SCHEMA = c.TABLE_SCHEMA\n                   AND x.TABLE_NAME   = c.TABLE_NAME\n                   AND x.COLUMN_NAME  = c.COLUMN_NAME\nWHERE\t(c.TABLE_NAME LIKE '%fact%' OR c.TABLE_NAME LIKE '%dim%'  OR c.TABLE_NAME LIKE '%help%' OR c.TABLE_NAME LIKE '%tbl%') \nAND\t\t c.TABLE_NAME NOT IN ('DimensionAttributeStaging','DerivedDimensionAttributeStaging','DerivedDimensionAttributeValuesStaging','DimensionAttributeTranslationStaging')\nORDER BY c.TABLE_SCHEMA, c.TABLE_NAME, c.ORDINAL_POSITION",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBatchSize": 10000,
								"preCopyScript": "DELETE a\n\tFROM metadata.SourceInformationSchema a\nWHERE TableCatalog = 'd365-byod-prod'",
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "PRD_DWH_Dynamic_DataSet",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "dummy"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_DWH_Dynamic_DataSet",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "metadata.SourceInformationSchema"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD-MetaData"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T14:05:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_IFS_Customer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_Customer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.Excelfile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_IFS_Customer",
								"type": "DatasetReference",
								"parameters": {
									"WorkSheet": "@{pipeline().parameters.Worksheet}",
									"Excelfile": "@{pipeline().parameters.ExcelFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Worksheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "PRD-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T13:45:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_IFS_GLAccounts')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_GLAccounts",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.Excelfile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_IFS_GLAccounts",
								"type": "DatasetReference",
								"parameters": {
									"WorkSheet": "@{pipeline().parameters.Worksheet}",
									"Excelfile": "@{pipeline().parameters.ExcelFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Worksheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "PRD-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T13:45:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_IFS_GLTransActions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_GLTransActions",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.CSVFile}",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_IFS_GLTransActions",
								"type": "DatasetReference",
								"parameters": {
									"CSVFile": "@{pipeline().parameters.CSVFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "PRD-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T13:45:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_IFS_InventoryTransactions')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_InventoryTransactions",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.CSVFile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_IFS_InventoryTransactions",
								"type": "DatasetReference",
								"parameters": {
									"CSVFile": "@{pipeline().parameters.CSVFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "PRD-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:04Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_IFS_Products')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_Products",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.Excelfile}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_IFS_Products",
								"type": "DatasetReference",
								"parameters": {
									"WorkSheet": "@{pipeline().parameters.Worksheet}",
									"Excelfile": "@{pipeline().parameters.ExcelFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Worksheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "PRD-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T13:45:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_IFS_SalesInvoice')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "IFS_SalesInvoice",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.CSVFile}",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_IFS_SalesInvoices",
								"type": "DatasetReference",
								"parameters": {
									"CSVFile": "@{pipeline().parameters.CSVFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "PRD-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T13:45:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_Invoice_Corrections')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "PRD_Invoice_Corrections",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "HSO_DnA_InsertDateTime",
										"value": {
											"value": "@pipeline().parameters.StartDateTime",
											"type": "Expression"
										}
									},
									{
										"name": "HSO_DnA_SourceConnectionID",
										"value": {
											"value": "@pipeline().parameters.SourceConnectionID",
											"type": "Expression"
										}
									},
									{
										"name": "HSO_DnA_TargetMappingID",
										"value": {
											"value": "@pipeline().parameters.TargetMapping",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.CSVFile}",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "TRUNCATE TABLE @{pipeline().parameters.TargetSchemaName}.@{pipeline().parameters.TargetTableName}",
									"type": "Expression"
								},
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_Invoice_Corrections",
								"type": "DatasetReference",
								"parameters": {
									"CSVFile": "@{pipeline().parameters.CSVFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					},
					"TargetMapping": {
						"type": "string"
					},
					"SourceConnectionID": {
						"type": "string"
					}
				},
				"folder": {
					"name": "PRD-IFS"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T13:45:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_Materialize_Views')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_Full_Views",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM Process.ProcessView WHERE SourceConnectionID = 1 AND LoadGroupID = @{pipeline().parameters.LoadGroupID} AND (TemplateName NOT IN ('INCR', 'DWHINCR', 'DWHPART') OR IncrementalLoad = 0) ORDER BY LoadPriority",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Full_View",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Full_Views",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Full_Views').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "Materialize_Full_Views",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{concat(item().SourceSchemaName, '.', item().SourceTableName)}"
										},
										{
											"name": "Destination",
											"value": "@{concat(item().TargetSchemaName, '.', item().TargetTableName)}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT @{item().SourceConnectionID} as HSO_DnA_SourceConnectionID, @{item().TargetMappingID} as HSO_DnA_TargetMappingID, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_InsertDateTime, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_UpdateDateTime, null as HSO_DnA_DeleteDateTime, @{item().FieldList} FROM @{item().SourceSchemaName}.@{item().SourceTableName}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 1000000,
											"preCopyScript": {
												"value": "TRUNCATE TABLE @{item().TargetSchemaName}.@{item().TargetTableName}",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "PRD_BYOD_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": " @{item().SourceSchemaName}",
												"TableName": "@{item().SourceTableName}"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "PRD_BYOD_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().TargetSchemaName}",
												"TableName": "@{item().TargetTableName}"
											}
										}
									]
								},
								{
									"name": "Update_Target_Mapping",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Materialize_Full_Views",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[process].[UpdateTargetMapping]",
										"storedProcedureParameters": {
											"GetStartDate": {
												"value": {
													"value": "@pipeline().parameters.StartDateTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"TargetMappingID": {
												"value": {
													"value": "@{item().TargetMappingID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Azure_D365_PROD",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Lookup_Incr_Views",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM Process.ProcessView WHERE SourceConnectionID = 1 AND LoadGroupID = @{pipeline().parameters.LoadGroupID} AND (TemplateName = 'INCR' OR TemplateName = 'DWHINCR') AND IncrementalLoad = 1 ORDER BY LoadPriority",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_Incr_View",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Incr_Views",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Incr_Views').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "Materialize_Incr_Views",
									"description": "Copy data from the on-premises source database to the matching cloud sink database",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Destination",
											"value": "@{concat(item().TargetSchemaName, '_', item().TargetTableName)}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT @{item().FieldList} FROM @{item().SourceSchemaName}.@{item().SourceTableName}  WHERE ModifiedDateTime >= DATEADD(DAY, -5, GETDATE())",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 1000000,
											"sqlWriterStoredProcedureName": {
												"value": "@{item().TargetSchemaName}.@{item().StoredProcedureName} ",
												"type": "Expression"
											},
											"sqlWriterTableType": {
												"value": "@{item().TargetSchemaName}.@{item().TargetTableName}_TYPE ",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"GetStartDateTime": {
													"type": "datetime",
													"value": {
														"value": "@pipeline().parameters.StartDateTime",
														"type": "Expression"
													}
												}
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "PRD_BYOD_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": {
													"value": "@{item().SourceSchemaName}",
													"type": "Expression"
												},
												"TableName": {
													"value": "@{item().SourceTableName}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "PRD_BYOD_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": {
													"value": "@{item().TargetSchemaName}",
													"type": "Expression"
												},
												"TableName": {
													"value": "@{item().TargetTableName}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup_FULLADD_Views",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM Process.ProcessView WHERE SourceConnectionID = 1 AND LoadGroupID = @{pipeline().parameters.LoadGroupID} AND (TemplateName = 'FULL_ADD') AND IncrementalLoad = 0 ORDER BY LoadPriority",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "For_Each_FullAdd_View",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_FULLADD_Views",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_FULLADD_Views').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "Materialize_FullAdd_Views",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{concat(item().SourceSchemaName, '.', item().SourceTableName)}"
										},
										{
											"name": "Destination",
											"value": "@{concat(item().TargetSchemaName, '.', item().TargetTableName)}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT @{item().SourceConnectionID} as HSO_DnA_SourceConnectionID, @{item().TargetMappingID} as HSO_DnA_TargetMappingID, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_InsertDateTime, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_UpdateDateTime, null as HSO_DnA_DeleteDateTime, @{item().FieldList} FROM @{item().SourceSchemaName}.@{item().SourceTableName}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 1000000,
											"preCopyScript": {
												"value": "DELETE FROM @{item().TargetSchemaName}.@{item().TargetTableName}\nWHERE [DateExecutionBK] = (SELECT MAX(DateExecutionBK) FROM @{item().SourceSchemaName}.@{item().SourceTableName})",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "PRD_BYOD_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().SourceSchemaName}",
												"TableName": "@{item().SourceTableName}"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "PRD_BYOD_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().TargetSchemaName}",
												"TableName": "@{item().TargetTableName}"
											}
										}
									]
								},
								{
									"name": "Update_Target_Mapping_FullAdd",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Materialize_FullAdd_Views",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[process].[UpdateTargetMapping]",
										"storedProcedureParameters": {
											"GetStartDate": {
												"value": {
													"value": "@pipeline().parameters.StartDateTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"TargetMappingID": {
												"value": {
													"value": "@{item().TargetMappingID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Azure_D365_PROD",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "For_Each_FULLADDCurrent-EndMonth_View",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_FULLADDCurrent-EndMonth_Views",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_FULLADDCurrent-EndMonth_Views').output.value",
								"type": "Expression"
							},
							"batchCount": 4,
							"activities": [
								{
									"name": "Materialize_FULLADDCurrent-EndMonth_Views",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [
										{
											"name": "Source",
											"value": "@{concat(item().SourceSchemaName, '.', item().SourceTableName)}"
										},
										{
											"name": "Destination",
											"value": "@{concat(item().TargetSchemaName, '.', item().TargetTableName)}"
										}
									],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "SELECT @{item().SourceConnectionID} as HSO_DnA_SourceConnectionID, @{item().TargetMappingID} as HSO_DnA_TargetMappingID, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_InsertDateTime, '@{pipeline().parameters.StartDateTime}' as HSO_DnA_UpdateDateTime, null as HSO_DnA_DeleteDateTime, @{item().FieldList} FROM @{item().SourceSchemaName}.@{item().SourceTableName}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 1000000,
											"preCopyScript": {
												"value": "DELETE FROM @{item().TargetSchemaName}.@{item().TargetTableName}\nWHERE CONVERT(INT,CONVERT(VARCHAR,[HSO_DnA_InsertDateTime],112)) = CONVERT(INT,CONVERT(VARCHAR,GETUTCDATE(),112)) \n  AND\tCONVERT(INT,CONVERT(VARCHAR,[HSO_DnA_InsertDateTime],112))   NOT IN (SELECT [DateBK] FROM [dwh].[DimDate] where [IsLastDayOfMonth]=1)",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "PRD_BYOD_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().SourceSchemaName}",
												"TableName": "@{item().SourceTableName}"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "PRD_BYOD_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": "@{item().TargetSchemaName}",
												"TableName": "@{item().TargetTableName}"
											}
										}
									]
								},
								{
									"name": "Update_Target_Mapping_FULLADDCurrent-EndMonth",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Materialize_FULLADDCurrent-EndMonth_Views",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[process].[UpdateTargetMapping]",
										"storedProcedureParameters": {
											"GetStartDate": {
												"value": {
													"value": "@pipeline().parameters.StartDateTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"TargetMappingID": {
												"value": {
													"value": "@{item().TargetMappingID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "Azure_D365_PROD",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "Lookup_FULLADDCurrent-EndMonth_Views",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT * FROM Process.ProcessView WHERE SourceConnectionID = 1 AND LoadGroupID = @{pipeline().parameters.LoadGroupID} AND (TemplateName = 'FULL_ADD_EOMonth_Cur') AND IncrementalLoad = 0 ORDER BY LoadPriority",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"LoadGroupID": {
						"type": "int"
					},
					"StartDateTime": {
						"type": "string"
					}
				},
				"folder": {
					"name": "PRD-Process_DWH"
				},
				"annotations": [],
				"lastPublishTime": "2021-09-01T06:06:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_Matrix_Import')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ImportMatrix",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table dbo.SupChainMatrix",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Matrix",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_DWH_Dynamic_DataSet",
								"type": "DatasetReference",
								"parameters": {
									"TableName": "SupChainMatrix"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD_Matrix"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_Process_SugarCRM_DataBase')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup_LoadGroup_SugarCRM",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach_LoadGroup_SugarCRM_FULL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT  * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 14 AND\n\t (TemplateName = 'INCR')",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_LoadGroup_SugarCRM",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_LoadGroup_SugarCRM",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_LoadGroup_SugarCRM').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Incr_Copy_SugarCRM",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "SELECT\t@{item().SourceConnectionID} as HSO_DnA_SourceConnectionID,\n\t\t@{item().FieldList}\nFROM \n\t\t@{item().SourceTableName}",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBatchSize": 1000000,
											"sqlWriterStoredProcedureName": {
												"value": "@{item().TargetSchemaName}.@{item().StoredProcedureName} ",
												"type": "Expression"
											},
											"sqlWriterTableType": {
												"value": "@{item().TargetSchemaName}.@{item().TargetTableName}_TYPE",
												"type": "Expression"
											},
											"storedProcedureTableTypeParameterName": {
												"value": "@{item().varType}",
												"type": "Expression"
											},
											"storedProcedureParameters": {
												"GetStartDateTime": {
													"type": "Datetime",
													"value": {
														"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
														"type": "Expression"
													}
												}
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ACCPRD_SugarCRM",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "PRD_BYOD_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": {
													"value": "@{item().TargetSchemaName}",
													"type": "Expression"
												},
												"TableName": {
													"value": "@{item().TargetTableName}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup_Current_Sync_And_Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							}
						}
					},
					{
						"name": "Lookup_LoadGroup_SugarCRM_FULL",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup_Current_Sync_And_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 14 AND\n\t (IncrementalLoad = 0  OR TemplateName = 'FULL') ",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dummy",
									"TableName": "dummy"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_LoadGroup_SugarCRM_FULL",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_LoadGroup_SugarCRM_FULL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_LoadGroup_SugarCRM_FULL').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Full_Copy_SugarCRM_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "SELECT\t@{item().SourceConnectionID} as HSO_DnA_SourceConnectionID,\n\t\t@{item().TargetMappingID} as HSO_DnA_TargetMappingID, \n\t\tCURDATE() as HSO_DnA_InsertDateTime, \n\t\tCURDATE() as HSO_DnA_UpdateDateTime, \n\t\t@{item().FieldList}\nFROM \n\t\t@{item().SourceTableName}",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"preCopyScript": {
												"value": "TRUNCATE TABLE @{item().TargetSchemaName}.@{item().TargetTableName}",
												"type": "Expression"
											},
											"disableMetricsCollection": false
										},
										"enableStaging": false,
										"parallelCopies": 1,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "ACCPRD_SugarCRM",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "PRD_BYOD_DS",
											"type": "DatasetReference",
											"parameters": {
												"SchemaName": {
													"value": "@{item().TargetSchemaName}",
													"type": "Expression"
												},
												"TableName": {
													"value": "@{item().TargetTableName}",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD-SugarCRM"
				},
				"annotations": [],
				"lastPublishTime": "2021-03-27T14:26:15Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_Sharepoint_BE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetBElijst",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "truncate table sharepoint.BE_Dashboard",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SharePointLists_BE",
								"type": "DatasetReference",
								"parameters": {
									"list": "Dashboard"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "sharepoint",
									"TableName": "BE_Dashboard"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD_SharePoint"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_SharpointSalesEngenieer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "GetSalesEngenieer",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SharePointOnlineListSource",
								"httpRequestTimeout": "00:05:00"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": "--truncate  table powerpoint.SalesEngenieer",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "InhoudstypeId",
											"type": "String"
										},
										"sink": {
											"name": "InhoudstypeId",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Title",
											"type": "String"
										},
										"sink": {
											"name": "Title",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ActivumIdVoorCompliance",
											"type": "String"
										},
										"sink": {
											"name": "ActivumIdVoorCompliance",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CreatedById",
											"type": "Int32"
										},
										"sink": {
											"name": "CreatedById",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "ModifiedById",
											"type": "Int32"
										},
										"sink": {
											"name": "ModifiedById",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Name",
											"type": "String"
										},
										"sink": {
											"name": "Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "InVariable",
											"type": "Boolean"
										},
										"sink": {
											"name": "InVariable",
											"type": "Boolean",
											"physicalType": "bit"
										}
									},
									{
										"source": {
											"name": "CommissionSalesGroupFO",
											"type": "String"
										},
										"sink": {
											"name": "CommissionSalesGroupFO",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Waarneming1",
											"type": "String"
										},
										"sink": {
											"name": "Waarneming1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Waarneming2",
											"type": "String"
										},
										"sink": {
											"name": "Waarneming2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Waarneming3",
											"type": "String"
										},
										"sink": {
											"name": "Waarneming3",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Waarneming4",
											"type": "String"
										},
										"sink": {
											"name": "Waarneming4",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Waarneming5",
											"type": "String"
										},
										"sink": {
											"name": "Waarneming5",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Id",
											"type": "Int32"
										},
										"sink": {
											"name": "Id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Inhoudstype",
											"type": "String"
										},
										"sink": {
											"name": "Inhoudstype",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Gewijzigd",
											"type": "DateTime"
										},
										"sink": {
											"name": "Gewijzigd",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Gemaakt",
											"type": "DateTime"
										},
										"sink": {
											"name": "Gemaakt",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Owshiddenversion",
											"type": "Int32"
										},
										"sink": {
											"name": "Owshiddenversion",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "Versie",
											"type": "String"
										},
										"sink": {
											"name": "Versie",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pad",
											"type": "String"
										},
										"sink": {
											"name": "Pad",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SharePointLists_SalesEngenieer",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "sharepoint",
									"TableName": "SalesEngenieer"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD_SharePoint"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_ZenDesk_Tickets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Zendesk_Tickets",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{pipeline().parameters.CSVFile}",
										"type": "Expression"
									}
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"culture": "nl-nl"
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ACC_Zendesk_Blob",
								"type": "DatasetReference",
								"parameters": {
									"CSVFile": "@{pipeline().parameters.CSVFile}"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "@{pipeline().parameters.TargetSchemaName}",
									"TableName": "@{pipeline().parameters.TargetTableName}"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					},
					"StartDateTime": {
						"type": "string"
					},
					"TargetTableName": {
						"type": "string"
					},
					"TargetSchemaName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "PRD_Zendesk"
				},
				"annotations": [],
				"lastPublishTime": "2020-12-10T13:46:14Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_ZendDesk_ToBlob')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ImportToBlob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings",
									"compressionProperties": {
										"type": "ZipDeflateReadSettings",
										"preserveZipFileNameAsFolder": false
									}
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Zendesk",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Unzip",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD_Zendesk"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_tevervroegenorders')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Tevervroegenorders_log",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('log_PRD_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_export"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('PRDtevervroegens_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_log_productie",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders_log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4 logProductie"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('log_PRD_PROD_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sptevervroegen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_export"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "sptevervroegen",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PRD_UpScale",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "process.spProductionReferencesAll"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Tevervroegenorders_export_prod",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders_prod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_export_prod"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('PRDtevervroegenProd_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_prod",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sptevervroegen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_export_prod"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_prod",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PRD_UpScale",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_UpScale",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD-TevervroegenOrders"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_tevervroegenorders_2deRun')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Tevervroegenorders_log",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sptevervroegen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('log_PRD_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '_1A.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sptevervroegen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_export"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('PRDtevervroegens_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '_1A.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_log_productie",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders_log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4 logProductie"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('log_PRD_PROD_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '_1A.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "sptevervroegen",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "process.spProductionReferences"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Tevervroegenorders_export_prod",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "sptevervroegen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_export_prod"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('PRDtevervroegenProd_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '_1A.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD-TevervroegenOrders"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_tevervroegenorders_2deRun_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Tevervroegenorders_log",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('log_PRD_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '_1A.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_copy",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_export"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('PRDtevervroegens_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '_1A.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_log_productie",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders_log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4 logProductie"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('log_PRD_PROD_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '_1A.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_export_prod",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_export_prod"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('PRDtevervroegenProd_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '_1A.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD-TevervroegenOrders"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PRD_tevervroegenorders_C')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Tevervroegenorders_log",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_C"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('log_PRD_C_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_copy",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_C_export"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('PRDtevervroegens_C_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_log_productie",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders_log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_C_logProductie"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('log_PRD_PROD_C_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_C_export"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_C",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Tevervroegenorders_export_prod",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Tevervroegenorders_prod",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_C_export_prod"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_log",
								"type": "DatasetReference",
								"parameters": {
									"logfile": {
										"value": "@concat('PRDtevervroegenProd_C_', formatDateTime(utcnow(), 'yyyy-dd-MM'), '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Tevervroegenorders_prod",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "PRD_BYOD_DS",
								"type": "DatasetReference",
								"parameters": {
									"SchemaName": "dwh",
									"TableName": "vw_te_vervroegen_ordersV4_C_export_prod"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "tevervroegenPRD_prod_C",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "PRD-TevervroegenOrders"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}