df-d365-byod/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-d365-byod"
		},
		"AnyWhereSQL_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AnyWhereSQL'"
		},
		"DWHloads_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DWHloads'"
		},
		"EITserver_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'EITserver'"
		},
		"FO_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'FO'"
		},
		"MicrosoftAccess1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'MicrosoftAccess1'"
		},
		"MicrosoftAccess1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'MicrosoftAccess1'"
		},
		"MicrosoftAccess1_credential": {
			"type": "secureString",
			"metadata": "Secure string for 'credential' of 'MicrosoftAccess1'"
		},
		"SugarCRM_Pord_cloud_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SugarCRM_Pord_cloud'"
		},
		"SugarCRM_Production_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SugarCRM_Production'"
		},
		"ToJPN_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ToJPN'"
		},
		"ZendeskDownload_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ZendeskDownload'"
		},
		"Azure_D365_DEV_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "DWHConnectionStringDEV"
		},
		"Azure_D365_PROD_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "DWHConnectionStringPRD"
		},
		"DWHloads_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "d:\\General\\ICT\\"
		},
		"DWHloads_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "AMSSRV011\\DWHZendesk"
		},
		"FO_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "d:\\General\\File exchange folder (MAX7D)\\FO\\"
		},
		"FO_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "AMSSRV011\\DWHZendesk"
		},
		"MicrosoftAccess1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "FoPowerAutomate@Aquapro.onmicrosoft.com"
		},
		"ToJPN_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "D:\\General\\ICT\\"
		},
		"ToJPN_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "aquapro-dmn\\seeburger_edi"
		},
		"ZendeskDownload_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "d:\\General\\File exchange folder (MAX7D)\\FO\\DWH"
		},
		"ZendeskDownload_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "AMSSRV011\\DWHZendesk"
		},
		"blobstoragescm_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "BlobStorageDevelopment"
		},
		"blobstoragesmcprd_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "BlobStorageProduction"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SharePointLists_BE')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SharePointBE",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"list": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SharePointOnlineListResource",
				"schema": [],
				"typeProperties": {
					"listName": {
						"value": "@dataset().list",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SharePointLists_PowerBI')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SharePoint_powerbi",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"list": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SharePointOnlineListResource",
				"schema": [],
				"typeProperties": {
					"listName": {
						"value": "@dataset().list",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SharePointLists_SalesEngenieer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SharePoint",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SharePointOnlineListResource",
				"schema": [],
				"typeProperties": {
					"listName": "SalesEngineer"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/XmlUN')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Xml",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "consolidated.xml"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AnyWhereSQL')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('AnyWhereSQL_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AnyWare",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_D365_DEV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('Azure_D365_DEV_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_D365_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('Azure_D365_PROD_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DWHloads')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('DWHloads_properties_typeProperties_host')]",
					"userId": "[parameters('DWHloads_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DWHloads_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ZenDesk",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EITserver')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('EITserver_connectionString')]"
				},
				"connectVia": {
					"referenceName": "EIT-DataWarehouse",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FO')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('FO_properties_typeProperties_host')]",
					"userId": "[parameters('FO_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('FO_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ZenDesk",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MicrosoftAccess1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\\General\\File exchange folder (MAX7D)\\FO\\DWH\\rrp.mdb;Persist Security Info=False;",
				"annotations": [],
				"type": "MicrosoftAccess",
				"typeProperties": {
					"connectionString": "[parameters('MicrosoftAccess1_connectionString')]",
					"authenticationType": "Basic",
					"userName": "[parameters('MicrosoftAccess1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('MicrosoftAccess1_password')]"
					},
					"credential": {
						"type": "SecureString",
						"value": "[parameters('MicrosoftAccess1_credential')]"
					}
				},
				"connectVia": {
					"referenceName": "ZenDesk",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SugarCRM_Pord_cloud')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to the database server for sugar in the cloud us-azir-ap-P01\nconnection set up with Mohammed A. Hassan  and Alex N. Jung 11-10-2023",
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"connectionString": "[parameters('SugarCRM_Pord_cloud_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SugarCRM",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SugarCRM_Production')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This connection is setup on 2020/09/25 together with Mohammed A Hassan (SMC US IT Department), Kirk Becnel and Stefan Jaenicke (creator of the views)\nFor support@1smc.com",
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"connectionString": "[parameters('SugarCRM_Production_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SugarCRM",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ToJPN')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('ToJPN_properties_typeProperties_host')]",
					"userId": "[parameters('ToJPN_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ToJPN_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ZenDesk",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ZendeskDownload')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('ZendeskDownload_properties_typeProperties_host')]",
					"userId": "[parameters('ZendeskDownload_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ZendeskDownload_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ZenDesk",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobstoragescm')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('blobstoragescm_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobstoragesmcprd')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('blobstoragesmcprd_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DownScaleProd')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DownScale prod, safety procedure",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PRD_DownScale",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "ACC_DownScale",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-02-07T07:19:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								8
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "sptevervroegen",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "PRD_UpScale",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[process].[spProductionReferencesAll]"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_PROD",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "PRD_UpScale",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PRD_UpScale",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_D365_PROD')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sanctieLijsten_process')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "create sanction list",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sanct].[CreateSanctionList]"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Sanctions",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "create sanction list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sanct].[SanctionCheck]"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_DEV",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Sanctions"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_D365_DEV')]"
			]
		}
	]
}