df-d365-byod/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-d365-byod"
		},
		"SugarCRM_Production_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SugarCRM_Production'"
		},
		"ToJPN_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ToJPN'"
		},
		"ZendeskDownload_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'ZendeskDownload'"
		},
		"Azure_D365_DEV_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "DWHConnectionStringDEV"
		},
		"Azure_D365_PROD_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "DWHConnectionStringPRD"
		},
		"ToJPN_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\amssrv011\\Public\\General\\ict\\jpnvrd"
		},
		"ToJPN_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "AMSSRV011\\DWHZendesk"
		},
		"ZendeskDownload_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "\\\\amssrv011\\Public\\General\\File exchange folder (MAX7D)\\FO\\DWH"
		},
		"ZendeskDownload_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "AMSSRV011\\DWHZendesk"
		},
		"blobstoragescm_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "BlobStorageDevelopment"
		},
		"blobstoragesmcprd_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "BlobStorageProduction"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Azure_D365_DEV')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('Azure_D365_DEV_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Azure_D365_PROD')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('Azure_D365_PROD_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SugarCRM_Production')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "This connection is setup on 2020/09/25 together with Mohammed A Hassan (SMC US IT Department), Kirk Becnel and Stefan Jaenicke (creator of the views)\nFor support@1smc.com",
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"connectionString": "[parameters('SugarCRM_Production_connectionString')]"
				},
				"connectVia": {
					"referenceName": "SugarCRM",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ToJPN')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('ToJPN_properties_typeProperties_host')]",
					"userId": "[parameters('ToJPN_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ToJPN_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ZenDesk",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ZendeskDownload')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('ZendeskDownload_properties_typeProperties_host')]",
					"userId": "[parameters('ZendeskDownload_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('ZendeskDownload_password')]"
					}
				},
				"connectVia": {
					"referenceName": "ZenDesk",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobstoragescm')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('blobstoragescm_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/blobstoragesmcprd')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "KeyVault",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('blobstoragesmcprd_properties_typeProperties_connectionString_secretName')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DownScaleProd')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "DownScale prod, safety procedure",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PRD_DownScale",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2022-02-07T07:19:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								30
							],
							"hours": [
								7
							]
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sanctieLijsten_process')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "create sanction list",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sanct].[CreateSanctionList]"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_DEV",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Check Sanctions",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "create sanction list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[sanct].[SanctionCheck]"
						},
						"linkedServiceName": {
							"referenceName": "Azure_D365_DEV",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Sanctions"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_D365_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACCPRD_SugarCRM')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SugarCRM_Production",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "ACC&PRD"
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SugarCRM_Production')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_BYOD_DEV_DS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_D365_DEV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SchemaName": {
						"type": "string"
					},
					"TableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().SchemaName",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_D365_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_BudgetDirectSales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobstoragescm",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"WorkSheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().Worksheet",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Excelfile",
							"type": "Expression"
						},
						"container": "dwhbudgetdirectsales"
					},
					"range": "",
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blobstoragescm')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_BudgetInDirectSales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobstoragescm",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"WorkSheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().Worksheet",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Excelfile",
							"type": "Expression"
						},
						"container": "dwhbudgetindirectsales"
					},
					"range": "",
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blobstoragescm')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_DWH_Dynamic_DataSet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Azure_D365_DEV",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Azure_D365_DEV')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_Distributeur')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobstoragescm",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"WorkSheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().Worksheet",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Excelfile",
							"type": "Expression"
						},
						"container": "dwhdistributielijsten"
					},
					"range": "",
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blobstoragescm')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobstoragescm",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"WorkSheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().Worksheet",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Excelfile",
							"type": "Expression"
						},
						"container": "dwh-ifs-customers"
					},
					"range": "",
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blobstoragescm')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_GLAccounts')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobstoragescm",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"WorkSheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().Worksheet",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Excelfile",
							"type": "Expression"
						},
						"container": "dwh-ifs-glaccount"
					},
					"range": "",
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blobstoragescm')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_GLTransActions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobstoragescm",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().CSVFile",
							"type": "Expression"
						},
						"container": "dwh-ifs-gltransactions"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blobstoragescm')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_InventoryTransactions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobstoragescm",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"CSVFile": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().CSVFile",
							"type": "Expression"
						},
						"container": "dwh-ifs-inventorytransactions"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blobstoragescm')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ACC_IFS_Products')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "blobstoragescm",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"WorkSheet": {
						"type": "string"
					},
					"Excelfile": {
						"type": "string"
					}
				},
				"folder": {
					"name": "ACC"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().Worksheet",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().Excelfile",
							"type": "Expression"
						},
						"container": "dwh-ifs-products"
					},
					"range": "",
					"firstRowAsHeader": true
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/blobstoragescm')]"
			]
		}
	]
}