pipeline/ACC_Materialize_Views_loadID7.json
{
	"name": "ACC_Materialize_Views_loadID7",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Full_Views",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM Process.ProcessView WHERE SourceConnectionID = 1 AND LoadGroupID =7 ORDER BY LoadPriority",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ACC_BYOD_DEV_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dummy",
							"TableName": "dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For_Each_Full_View",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Full_Views",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Full_Views').output.value",
						"type": "Expression"
					},
					"batchCount": 4,
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[process].[FullLoadDWHTable]",
								"storedProcedureParameters": {
									"TableName": {
										"value": {
											"value": "@{item().SourceTableName}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azure_D365_DEV",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"LoadGroupID": {
				"type": "int"
			},
			"StartDateTime": {
				"type": "string"
			}
		},
		"folder": {
			"name": "ACC-Process_DWH"
		},
		"annotations": [],
		"lastPublishTime": "2021-09-01T06:06:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}