pipeline/PRD_Process_DWH_loaddata.json
{
	"name": "PRD_Process_DWH_loaddata",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Current_Sync_And_Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PRD_BYOD_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dummy",
							"TableName": "dummy"
						}
					}
				}
			},
			{
				"name": "Lookup_Full_ExcelFiles_Distributeur",
				"description": "Lookup the tables from the source database which are used in the full copy.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup_Current_Sync_And_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 2 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PRD_BYOD_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dummy",
							"TableName": "dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach DistributeurLijst",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Full_ExcelFiles_Distributeur",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Full_ExcelFiles_Distributeur').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "DistributionList",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PRD_DistributionList",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Worksheet": {
										"value": "@{Item().SourceSchemaName}",
										"type": "Expression"
									},
									"Excelfile": {
										"value": "@{Item().SourceTableName}",
										"type": "Expression"
									},
									"StartDateTime": {
										"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
										"type": "Expression"
									},
									"TargetTableName": {
										"value": "@{Item().TargetTableName}",
										"type": "Expression"
									},
									"TargetSchemaName": {
										"value": "@{Item().TargetSchemaName}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach BudgetDirectSales",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Full_ExcelFiles_BudgetDirectSales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Full_ExcelFiles_BudgetDirectSales').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "BudgetDirectSales",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PRD_BudgetDirectSales",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Worksheet": {
										"value": "@{Item().SourceSchemaName}",
										"type": "Expression"
									},
									"Excelfile": {
										"value": "@{Item().SourceTableName}",
										"type": "Expression"
									},
									"StartDateTime": {
										"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
										"type": "Expression"
									},
									"TargetTableName": {
										"value": "@{Item().TargetTableName}",
										"type": "Expression"
									},
									"TargetSchemaName": {
										"value": "@{Item().TargetSchemaName}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEach BudgetInDirectSales",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Full_ExcelFiles_BudgetInDirectSales').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "BudgetInDirectSales",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PRD_BudgetInDirectSales",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Worksheet": {
										"value": "@{Item().SourceSchemaName}",
										"type": "Expression"
									},
									"Excelfile": {
										"value": "@{Item().SourceTableName}",
										"type": "Expression"
									},
									"StartDateTime": {
										"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
										"type": "Expression"
									},
									"TargetTableName": {
										"value": "@{Item().TargetTableName}",
										"type": "Expression"
									},
									"TargetSchemaName": {
										"value": "@{Item().TargetSchemaName}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup_Full_ExcelFiles_BudgetInDirectSales",
				"description": "Lookup the tables from the source database which are used in the full copy.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup_Current_Sync_And_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 3 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PRD_BYOD_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dummy",
							"TableName": "dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lookup_Full_ExcelFiles_BudgetDirectSales",
				"description": "Lookup the tables from the source database which are used in the full copy.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup_Current_Sync_And_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 4 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PRD_BYOD_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dummy",
							"TableName": "dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Process_IFS_Stage",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup_Current_Sync_And_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PRD_Process_IFS_Stage",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Stage SugarCRM",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Lookup_Current_Sync_And_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PRD_Process_SugarCRM_DataBase",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "process Zendesk",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup_Current_Sync_And_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PRD_Process_Zendesk",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PRD_SharepointLijsten",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup_Current_Sync_And_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PRD_SharepointLijsten",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PRD_getRRP",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup_Current_Sync_And_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PRD_LoadDataFromEIT",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PRD_FillMetadata_DWH",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup_Current_Sync_And_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PRD_FillMetadata_DWH",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PRD_Sharepoint_ProductMaintenance",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookup_Current_Sync_And_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PRD_Sharepoint_ProductMaintenance",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"folder": {
			"name": "PRD-Process_DWH"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-27T14:26:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}