pipeline/PRD_Process_Zendesk.json
{
	"name": "PRD_Process_Zendesk",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Current_Sync_And_Date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PRD_ZendDesk_ToBlob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ACC_BYOD_DEV_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dummy",
							"TableName": "dummy"
						}
					}
				}
			},
			{
				"name": "Lookup_Full_CSVFiles",
				"description": "Lookup the tables from the source database which are used in the full copy.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup_Current_Sync_And_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 16 ",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PRD_BYOD_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dummy",
							"TableName": "dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach zendesk",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Full_CSVFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Full_CSVFiles').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "zenDeskTickets",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PRD_ZenDesk_Tickets",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"CSVFile": {
										"value": "@{Item().SourceTableName}",
										"type": "Expression"
									},
									"StartDateTime": {
										"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
										"type": "Expression"
									},
									"TargetTableName": {
										"value": "@{Item().TargetTableName}",
										"type": "Expression"
									},
									"TargetSchemaName": {
										"value": "@{Item().TargetSchemaName}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "PRD_ZendDesk_ToBlob",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PRD_ZendDesk_ToBlob",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "fill_dwhZendesk",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach zendesk",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[process].[FactZendeskTickets_INCR]"
				},
				"linkedServiceName": {
					"referenceName": "Azure_D365_PROD",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "PRD_Zendesk"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-10T13:46:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}