pipeline/PRD_Process_InvoiceCorrections.json
{
	"name": "PRD_Process_IFS_Stage_copy1",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Current_Sync_And_Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PRD_BYOD_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dummy",
							"TableName": "dummy"
						}
					}
				}
			},
			{
				"name": "Lookup_Full_CSVFiles_Invoice_Corrections",
				"description": "Lookup the tables from the source database which are used in the full copy.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup_Current_Sync_And_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 18 AND\n\t (TemplateName = 'FULL' OR IncrementalLoad = 0)",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PRD_BYOD_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dummy",
							"TableName": "dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach SalesInvoice_corection",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Full_CSVFiles_Invoice_Corrections",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Full_CSVFiles_Invoice_Corrections').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "SalesInvoice_correction",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PRD_IFS_SalesInvoice",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"CSVFile": {
										"value": "@{Item().SourceTableName}",
										"type": "Expression"
									},
									"StartDateTime": {
										"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
										"type": "Expression"
									},
									"TargetTableName": {
										"value": "@{Item().TargetTableName}",
										"type": "Expression"
									},
									"TargetSchemaName": {
										"value": "@{Item().TargetSchemaName}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "PRD-IFS"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-27T13:45:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}