pipeline/PRD_Process_DWH_create.json
{
	"name": "PRD_Process_DWH_create",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Current_Sync_And_Date",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PRD_UpScale",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PRD_BYOD_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dummy",
							"TableName": "dummy"
						}
					}
				}
			},
			{
				"name": "Lookup_Load_Group",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup_Current_Sync_And_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT LoadgroupID, LoadOrder FROM process.ProcessView WHERE SourceConnectionID = 1 ORDER BY LoadOrder",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PRD_BYOD_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dummy",
							"TableName": "dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For_Each_Load_Group",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Load_Group",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Load_Group').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute_Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PRD_Materialize_Views",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"LoadGroupID": {
										"value": "@{Item().LoadGroupID}",
										"type": "Expression"
									},
									"StartDateTime": {
										"value": "@activity('Lookup_Current_Sync_And_Date').output.firstRow.GetStartDateTime",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "spLoadDataAfterFullLoad",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "For_Each_Load_Group",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[process].[spLoadDataAfterFullLoad]"
				},
				"linkedServiceName": {
					"referenceName": "Azure_D365_PROD",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PRD_UpScale",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PRD_UpScale",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PRD_DownScale",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "spLoadDataAfterFullLoad",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PRD_DownScale",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"folder": {
			"name": "PRD-Process_DWH"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-27T14:26:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}