pipeline/RefreshPowerBI_Refresh.json
{
	"name": "RefreshPowerBI_Refresh",
	"properties": {
		"activities": [
			{
				"name": "Call dataset refresh",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups/',pipeline().parameters.workspaceGuid,'/datasets/',pipeline().parameters.datasetGuid,'/refreshes')",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Authorization": {
							"value": "@pipeline().parameters.autorization",
							"type": "Expression"
						}
					},
					"body": {
						"notifyOption": "NoNotification"
					}
				}
			},
			{
				"name": "Until dataset refresh completion",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Call dataset refresh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(equals(first(json(string(activity('Get dataset refresh status').output)).value).status,'Unknown'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait 15 seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 15
							}
						},
						{
							"name": "Get dataset refresh status",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait 15 seconds",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": true
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://api.powerbi.com/v1.0/myorg/groups/',pipeline().parameters.workspaceGuid,'/datasets/',pipeline().parameters.datasetGuid,'/refreshes?$top=1')",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@concat(string(activity('Get AAD Token').output.token_type),' ',string(activity('Get AAD Token').output.access_token))",
										"type": "Expression"
									},
									"Content-Type": "application/json"
								}
							}
						}
					],
					"timeout": "0.03:00:00"
				}
			}
		],
		"parameters": {
			"workspaceGuid": {
				"type": "string"
			},
			"datasetGuid": {
				"type": "string"
			},
			"autorization": {
				"type": "string"
			}
		},
		"variables": {
			"ProcessingErrors": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "50-powerbi"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}