pipeline/testdataverse.json
{
	"name": "testdataverse",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Current_Sync_And_Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT GETUTCDATE() AS GetStartDateTime",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PRD_BYOD_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dummy",
							"TableName": "dummy"
						}
					}
				}
			},
			{
				"name": "Lookup_LoadGroup_CE",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup_Current_Sync_And_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT *,SourceTableName \n\tFROM process.ProcessView \nWHERE SourceConnectionID = 19 AND TargetMappingID=149",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "PRD_BYOD_DS",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "dummy",
							"TableName": "dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_LoadGroup_loadCE",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_LoadGroup_CE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_LoadGroup_CE').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "CommonDataServiceForAppsSource"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DataverseCE",
									"type": "DatasetReference",
									"parameters": {
										"table": {
											"value": "@{item().SourceTableName}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "PRD_BYOD_DS",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "ce",
										"TableName": {
											"value": "@{item().SourceTableName}",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}